>## <b> Web Scarping Assignment 4 </b>
<b><em> By: Ms. Yashshree bawiskar </em></b>

<b><em> Internship Batch:25 </em></b>

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia: 

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/  
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [4]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [5]:
# Extracting Rank

try:
    rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')

In [6]:
len(rank)

30

In [7]:
# Extracting Name Via X path
try:
    name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')

In [8]:
len(name)

30

In [9]:
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

In [10]:
len(artist)

30

In [11]:
# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA')

In [12]:
len(upload_date)

30

In [13]:
## Extracting Views via Xpath
try:
    views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [14]:
len(views)

30

In [15]:
# Dataframe for scrap data
Wiki_YT_Video=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT_Video

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.53,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.82,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.31,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.69,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.48,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.27,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.58,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.54,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.40,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.96,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.56,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.54,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.44,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.32,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.28,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.27,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.26,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.12,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.07,"June 29, 2017"

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [180]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')

url='https://www.bcci.tv'
driver.get(url)

search_btn=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
search_btn
search_btn.click()

In [181]:
Match=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
len(Match)

Match_title=[]
for i in Match:
    Match_title.append(i.text);
Match_title

['1st T20I -', '2nd T20I -', '3rd T20I -', '4th T20I -', '5th T20I -']

In [182]:
Series_1=driver.find_elements_by_xpath('//div[@class="fixture-tab-inner row"]/div/div/div[1]/h5[2]/span')
len(Series_1)

Series=[]
for j in Series_1:
    Series.append(j.text)
Series

['SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [183]:
place=driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
len(place)

Place=[]
for k in place:
    Place.append(k.text)
Place

['Arun Jaitley Stadium,',
 'Barabati Stadium,',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'M Chinnaswamy Stadium,']

In [184]:
date=driver.find_elements_by_xpath('//div[@class="fixture-tab-inner row"]/div/div/div[1]/div/div[1]/h5')
len(date)


Date=[]
for k in date:
    Date.append(k.text)
Date

['9 JUN 2022', '12 JUN 2022', '14 JUN 2022', '17 JUN 2022', '19 JUN 2022']

In [185]:
time=driver.find_elements_by_xpath('//div[@class="fixture-tab-inner row"]/div/div/div[1]/div/div[2]/h5')
len(time)

Time=[]
for k in time:
    Time.append(k.text)
Time

['7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST', '7:30 PM IST']

In [186]:
BCCI=pd.DataFrame()
BCCI['Match_title']= Match_title
BCCI['Series']= Series
BCCI['Place ']= Place
BCCI['Time']= Time
BCCI

,Match_title,Series,Place,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",7:30 PM IST

## 3. Scrape the details of selenium exception from guru99.com.¶
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [89]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [96]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.guru99.com/'
driver.get(url)
time.sleep(1)

In [97]:
# Creating Empty list
Name =[]
Description=[]

In [98]:
# Selecting Selenium option from website
Selenium=driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
try:
    Selenium.click()
except ElementNotInteractableException:
    driver.get(Selenium.get_attribute('href'))

In [99]:
# Selecting Selenium Exception handling option from website
Selenium_Exception=driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    Selenium_Exception.click()
except ElementNotInteractableException:
    driver.get(Selenium_Exception.get_attribute('href'))

In [100]:
# Extracting Exception Name via Xpath
try:
    name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

In [101]:
# Extracting Description via Xpath
try:
    description=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
    for i in description:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('NA')

In [102]:
len(Name),len(Description)

(41, 41)

In [103]:
# Dataframe for scrap data
Exception=pd.DataFrame({'Exception Type':Name,'Description':Description})
print('\033[1m'+'Selenium Exception from Guru 99 :'+'\033[0m')
Exception

Selenium Exception from Guru 99 :

,Exception Type,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [105]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [106]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [107]:
# Clicking on India under ecomony section
India=driver.find_element_by_xpath('//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))

In [108]:
# Clicking Indian State GDP
state = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [110]:
try:
    rank=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

In [111]:
len(Rank)

33

In [112]:
# Extracting state name via Xpath
try:
    state=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')

In [113]:
len(state)

33

In [114]:
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')

In [115]:
len(GDSP_19_20)

33

In [116]:
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')

In [118]:
len(GDSP_18_19)

33

In [119]:
# Extracting share in billons via Xpath
try:
    share=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

In [121]:
len(share)

33

In [120]:
# Extracting GDP via Xpath
try:
    gdp=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [122]:
len(GDP)

33

In [123]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/


You have to find the following details:


A) Repository title


B) Repository description


C) Contributors count


D) Language used

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
import warnings
warnings.filterwarnings("ignore")

In [29]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [30]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()
time.sleep(2)

In [31]:
# Clicking on trending option
trending=driver.find_element_by_xpath('html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [32]:
# Empty list
Repository = []
Repository_des = []
Contributors = []
Language = []

In [33]:
try: # Scraping repository
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
        Repository.append(i.text)
except NoSuchElementException as e:
    Repository.append('NA')

In [34]:
try: # Scraping Repository description
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        Repository_des.append(i.text)
except NoSuchElementException as e:
    Repository_des.append('NA')

In [35]:
try: # Scraping Contributors count
    for i in driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]"):
        Contributors.append(i.text)
except NoSuchElementException as e:
    Contributors.append('NA')

In [36]:
try: # Scraping language
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
        Language.append(i.text)
        
except NoSuchElementException as e:
    Language.append('NA')

In [37]:
len(Language),len(Repository),len(Repository_des),len(Contributors)

(21, 25, 24, 25)

In [38]:
url='https://github.com'
driver.get(url)

Url=[]
for i in driver.find_elements_by_xpath("//ul[@class='list-style-none f5 pb-1']/li[5]/a"):
    Url.append(i.get_attribute("href"))
Url

['https://github.com/features/packages', 'https://github.com/trending']

In [39]:
driver.get(Url[1])

In [40]:
title=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
len(title)

25

In [41]:
Repository_title=[]
for j in title:
    Repository_title.append(j.text)
Repository_title

['PowerShell / PowerShell',
 'ruanyf / weekly',
 'angular / angular',
 'mastodon / mastodon',
 'spacedriveapp / spacedrive',
 'ml-tooling / best-of-ml-python',
 'jsonhero-io / jsonhero-web',
 'gradio-app / gradio',
 'appsmithorg / appsmith',
 'google / wireit',
 'naver / fe-news',
 'Trainguy9512 / trainguys-animation-overhaul',
 'The-Run-Philosophy-Organization / run',
 'neonbjb / tortoise-tts',
 'F5OEO / rpitx',
 'hlorus / CAD_Sketcher',
 'why20021008 / hand-write',
 'rejetto / hfs',
 'rancher / rancher',
 'jwasham / coding-interview-university',
 'ruilisi / fortune-sheet',
 'RedisInsight / RedisInsight',
 'terraform-aws-modules / terraform-aws-eks',
 'FrancescoXX / free-Web3-resources',
 'Dec0ne / KrbRelayUp']

In [42]:
desc=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
len(desc)

24

In [48]:
Repository_description=[]
for k in desc:
    Repository_description.append(k.text)
Repository_description

['PowerShell for every system!',
 '科技爱好者周刊，每周五发布',
 'The modern web developer’s platform',
 'Your self-hosted, globally interconnected microblogging community',
 'Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.',
 '🏆 A ranked list of awesome machine learning Python libraries. Updated weekly.',
 'JSON Hero is an open-source, beautiful JSON explorer for the web that lets you browse, search and navigate your JSON files at speed. 🚀',
 'Create UIs for your machine learning model in Python in 3 minutes',
 'Low code project to build admin panels, internal tools, and dashboards. Integrates with 15+ databases and any API.',
 'Wireit upgrades your npm scripts to make them smarter and more efficient.',
 'FE 기술 소식 큐레이션 뉴스레터',
 '润学全球官方指定GITHUB，整理润学宗旨、纲领、理论和各类润之实例；解决为什么润，润去哪里，怎么润三大问题； 并成为新中国人的核心宗教，核心信念。',
 'A multi-voice TTS system trained with an emphasis on quality',
 'RF transmitter for Raspberry Pi',
 'Constraint-based geometry sketcher for blender',
 '模拟手写效果，节约时间。',
 'HFS is a file server offering a virtual file system (vfs). You can easily share a single file instead of the whole folder, or you can rename it, but without touching the real file, just virtually.',
 'Complete container management platform',
 'A complete computer science study plan to become a software engineer.',
 'A drop-in javascript spreadsheet library that provides rich features like Excel and Google Sheets',
 'RedisInsight',
 'Terraform module to create an Elastic Kubernetes (EKS) cluster and associated worker instances on AWS 🇺🇦',
 'A list of FREE resources to make Web3 accessible to everyone.',
 'KrbRelayUp - a universal no-fix local privilege escalation in windows domain environments where LDAP signing is not enforced (the default settings).']

In [49]:
len(Repository_description)

24

In [50]:
Repository_desc=Repository_description
Repository_desc.insert(15,"NA")

In [51]:
cont=driver.find_elements_by_xpath('//div[@class="f6 color-fg-muted mt-2"]/a[2]')
len(cont)

25

In [52]:
Contributors=[]
for k in cont:
    Contributors.append(k.text)
Contributors

['5,490',
 '1,789',
 '21,375',
 '4,486',
 '123',
 '1,238',
 '47',
 '409',
 '1,294',
 '25',
 '163',
 '65',
 '912',
 '31',
 '416',
 '28',
 '44',
 '20',
 '2,560',
 '59,206',
 '19',
 '49',
 '2,455',
 '126',
 '93']

In [53]:
lang=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
len(lang)

21

In [61]:
Language=[]
for k in lang:
    Language.append(k.text)
Language

['C#',
 'TypeScript',
 'Ruby',
 'TypeScript',
 'Python',
 'TypeScript',
 'Python',
 'TypeScript',
 'TypeScript',
 'Java',
 'Python',
 'C',
 'Python',
 'Python',
 'TypeScript',
 'Go',
 'TypeScript',
 'TypeScript',
 'HCL',
 'HTML',
 'C#']

In [62]:
Language1=Language
Language1.insert(2,"NA")
Language2=Language
Language2.insert(11,"NA")
Language3=Language
Language3.insert(13,"NA")
Language4=Language
Language4.insert(20,"NA")

In [64]:
len(Language)

25

In [66]:
trending=pd.DataFrame()
trending['Repository_title']= Repository_title
trending['Repository_description']= Repository_desc
trending['Contributors_count']= Contributors
trending['Language_Used']= Language
trending

,Repository_title,Repository_description,Contributors_count,Language_Used
0,PowerShell / PowerShell,PowerShell for every system!,"5,490",C#
1,ruanyf / weekly,科技爱好者周刊，每周五发布,"1,789",TypeScript
2,angular / angular,The modern web developer’s platform,"21,375",NA
3,mastodon / mastodon,"Your self-hosted, globally interconnected micr...","4,486",Ruby
4,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,123,TypeScript
5,ml-tooling / best-of-ml-python,🏆 A ranked list of awesome machine learning Py...,"1,238",Python
6,jsonhero-io / jsonhero-web,"JSON Hero is an open-source, beautiful JSON ex...",47,TypeScript
7,gradio-app / gradio,Create UIs for your machine learning model in ...,409,Python
8,appsmithorg / appsmith,"Low code project to build admin panels, intern...","1,294",TypeScript
9,google / wireit,Wireit upgrades your npm scripts to make them ...,25,TypeScript
10,naver / fe-news,FE 기술 소식 큐레이션 뉴스레터,163,Java
11,Trainguy9512 / trainguys-animation-overhaul,润学全球官方指定GITHUB，整理润学宗旨、纲领、理论和各类润之实例；解决为什么润，润去哪里...,65,NA
12,The-Run-Philosophy-Organization / run,A multi-voice TTS system trained with an empha...,912,Python
13,neonbjb / tortoise-tts,RF transmitter for Raspberry Pi,31,NA
14,F5OEO / rpitx,Constraint-based geometry sketcher for blender,416,C
15,hlorus / CAD_Sketcher,NA,28,Python
16,why20021008 / hand-write,模拟手写效果，节约时间。,44,Python
17,rejetto / hfs,HFS is a file server offering a virtual file s...,20,TypeScript
18,rancher / rancher,Complete container management platform,"2,560",Go
19,jwasham / coding-interview-university,A complete computer science study plan to beco...,"59,206",TypeScript
20,ruilisi / fortune-sheet,A drop-in javascript spreadsheet library that ...,19,NA
21,RedisInsight / RedisInsight,RedisInsight,49,TypeScript
22,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,"2,455",HCL
23,FrancescoXX / free-Web3-resources,A list of FREE resources to make Web3 accessib...,126,HTML
24,Dec0ne / KrbRelayUp,KrbRelayUp - a universal no-fix local privileg...,93,C#

## 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [67]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [68]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

In [69]:
url='https:/www.billboard.com/'
driver.get(url)

In [74]:
Url=[]
for i in driver.find_elements_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']/a"):
    Url.append(i.get_attribute("href"))
Url

['https://www.billboard.com/charts',
 'https://www.billboard.com/c/music/',
 'https://www.billboard.com/c/culture/',
 'https://www.billboard.com/c/media/',
 'https://www.billboard.com/pro']

In [75]:
driver.get(Url[0])

In [76]:
search_btn=driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
search_btn

In [77]:
search_btn.click()

In [79]:
name=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li/h3')
len(name)

100

In [80]:
Song_name=[]
for j in name:
    Song_name.append(j.text)
Song_name

['As It Was',
 'First Class',
 'Heat Waves',
 'Big Energy',
 'Enemy',
 'Stay',
 "Don't Think Jesus",
 'Woman',
 'Super Gremlin',
 'Ghost',
 'Thats What I Want',
 'Bad Habits',
 'abcdefu',
 'Shivers',
 'Cold Heart (PNAU Remix)',
 'Easy On Me',
 'Need To Know',
 'Save Your Tears',
 'One Right Now',
 'In A Minute',
 'Levitating',
 "'Til You Can't",
 'Industry Baby',
 'MAMIII',
 'Bam Bam',
 'Hrs And Hrs',
 "We Don't Talk About Bruno",
 'Right On',
 'Never Say Never',
 "Doin' This",
 'Wasted On You',
 'AA',
 'Good 4 U',
 'Sweetest Pie',
 'Fingers Crossed',
 'I Hate U',
 'Boyfriend',
 'To The Moon!',
 'You Right',
 'Numb Little Bug',
 'Fancy Like',
 'Sand In My Boots',
 'What Happened To Virgil',
 'Pushin P',
 'Beers On Me',
 'The Motto',
 "She's All I Wanna Be",
 "When You're Gone",
 'Buy Dirt',
 'About Damn Time',
 'Shake It',
 'Light Switch',
 'If I Was A Cowboy',
 'Peru',
 'Flowers',
 'Nail Tech',
 'Freaky Deaky',
 '23',
 'Trouble With A Heartbreak',
 'Broadway Girls',
 'Heart On Fire',
 'No Love',
 'Surface Pressure',
 'Slow Down Summer',
 'Flower Shops',
 'Never Wanted To Be That Girl',
 'Me Or Sum',
 'Ahhh Ha',
 'Give Heaven Some Hell',
 'Handsomer',
 'Envolver',
 'Do We Have A Problem?',
 'Get Into It (Yuh)',
 'Rumors',
 'Take My Name',
 'Damn Strait',
 'Circles Around This Town',
 'In My Head',
 'Nobody Like U',
 'Soy El Unico',
 'I Love You So',
 'Come Back As A Country Boy',
 'GINE',
 'City Of Gods',
 'Complete Mess',
 'Leave You Alone',
 'Bones',
 'Banking On Me',
 'She Likes It',
 'Pressure',
 'Desesperados',
 'Over',
 'The Family Madrigal',
 'Hate Our Love',
 'Dos Oruguitas',
 'P Power',
 'Money So Big',
 'Blick Blick!',
 'Fall In Love',
 'X Ultima Vez']

In [81]:
Artist=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
len(Artist)

100

In [82]:
Artist_name=[]
for k in Artist:
    Artist_name.append(k.text)
Artist_name

['Harry Styles',
 'Jack Harlow',
 'Glass Animals',
 'Latto',
 'Imagine Dragons X JID',
 'The Kid LAROI & Justin Bieber',
 'Morgan Wallen',
 'Doja Cat',
 'Kodak Black',
 'Justin Bieber',
 'Lil Nas X',
 'Ed Sheeran',
 'GAYLE',
 'Ed Sheeran',
 'Elton John & Dua Lipa',
 'Adele',
 'Doja Cat',
 'The Weeknd & Ariana Grande',
 'Post Malone & The Weeknd',
 'Lil Baby',
 'Dua Lipa',
 'Cody Johnson',
 'Lil Nas X & Jack Harlow',
 'Becky G X Karol G',
 'Camila Cabello Featuring Ed Sheeran',
 'Muni Long',
 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
 'Lil Baby',
 'Cole Swindell / Lainey Wilson',
 'Luke Combs',
 'Morgan Wallen',
 'Walker Hayes',
 'Olivia Rodrigo',
 'Megan Thee Stallion & Dua Lipa',
 'Lauren Spencer-Smith',
 'SZA',
 'Dove Cameron',
 'JNR CHOI & Sam Tompkins',
 'Doja Cat & The Weeknd',
 'Em Beihold',
 'Walker Hayes',
 'Morgan Wallen',
 'Lil Durk Featuring Gunna',
 'Gunna & Future Featuring Young Thug',
 'Dierks Bentley, BRELAND & HARDY',
 'Tiesto & Ava Max',
 'Tate McRae',
 'Shawn Mendes',
 'Jordan Davis Featuring Luke Bryan',
 'Lizzo',
 'Kay Flock, Cardi B, Dougie B & Bory300',
 'Charlie Puth',
 'Miranda Lambert',
 'Fireboy DML & Ed Sheeran',
 'Lauren Spencer-Smith',
 'Jack Harlow',
 'Tyga X Doja Cat',
 'Sam Hunt',
 'Jason Aldean',
 'Lil Durk Featuring Morgan Wallen',
 'Eric Church',
 'Summer Walker & SZA',
 'Jessica Darrow',
 'Thomas Rhett',
 'ERNEST Featuring Morgan Wallen',
 'Carly Pearce & Ashley McBryde',
 'Nardo Wick, Lil Baby & Future',
 'Lil Durk',
 'HARDY',
 'Russ Featuring Ktlyn',
 'Anitta',
 'Nicki Minaj X Lil Baby',
 'Doja Cat',
 'Gucci Mane Featuring Lil Durk',
 'Parmalee',
 'Scotty McCreery',
 'Maren Morris',
 'Lil Tjay',
 "4*TOWN (From Disney And Pixar's Turning Red)",
 'Yahritza y Su Esencia',
 'The Walters',
 'Blake Shelton',
 '6ix9ine',
 'Fivio Foreign, Kanye West & Alicia Keys',
 '5 Seconds Of Summer',
 'Kane Brown',
 'Imagine Dragons',
 'Gunna',
 'Russell Dickerson & Jake Scott',
 'Ari Lennox',
 'Rauw Alejandro & Chencho Corleone',
 'Lucky Daye',
 'Stephanie Beatriz, Olga Merediz & Encanto Cast',
 'Queen Naija & Big Sean',
 'Sebastian Yatra',
 'Gunna Featuring Drake',
 'Yeat',
 'Coi Leray & Nicki Minaj',
 'Bailey Zimmerman',
 'Daddy Yankee & Bad Bunny']

In [83]:
week=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
len(week)

100

In [84]:
Last_week_rank=[]
for k in week:
    Last_week_rank.append(k.text)
Last_week_rank

['2',
 '1',
 '3',
 '4',
 '5',
 '6',
 '-',
 '8',
 '7',
 '9',
 '10',
 '12',
 '11',
 '15',
 '16',
 '17',
 '20',
 '23',
 '24',
 '14',
 '21',
 '22',
 '19',
 '30',
 '25',
 '26',
 '18',
 '13',
 '27',
 '31',
 '36',
 '32',
 '28',
 '33',
 '34',
 '29',
 '44',
 '42',
 '37',
 '45',
 '38',
 '48',
 '39',
 '35',
 '41',
 '49',
 '50',
 '52',
 '47',
 '-',
 '-',
 '43',
 '68',
 '53',
 '-',
 '40',
 '60',
 '55',
 '73',
 '58',
 '63',
 '59',
 '56',
 '51',
 '67',
 '65',
 '66',
 '61',
 '76',
 '54',
 '74',
 '70',
 '82',
 '77',
 '80',
 '89',
 '57',
 '64',
 '72',
 '69',
 '86',
 '84',
 '-',
 '71',
 '85',
 '-',
 '94',
 '87',
 '90',
 '92',
 '98',
 '96',
 '78',
 '-',
 '93',
 '91',
 '-',
 '95',
 '-',
 '99']

In [85]:
peak=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
len(peak)

100

In [87]:
Peak_rank=[]
for k in peak:
    Peak_rank.append(k.text)
Peak_rank

['1',
 '1',
 '1',
 '3',
 '5',
 '1',
 '7',
 '8',
 '3',
 '5',
 '8',
 '2',
 '3',
 '4',
 '7',
 '1',
 '8',
 '1',
 '6',
 '14',
 '2',
 '18',
 '1',
 '15',
 '23',
 '16',
 '1',
 '13',
 '27',
 '27',
 '9',
 '32',
 '1',
 '15',
 '19',
 '7',
 '37',
 '38',
 '11',
 '40',
 '3',
 '30',
 '22',
 '7',
 '40',
 '42',
 '44',
 '38',
 '22',
 '50',
 '51',
 '27',
 '53',
 '53',
 '55',
 '18',
 '43',
 '50',
 '59',
 '14',
 '56',
 '13',
 '8',
 '43',
 '64',
 '63',
 '58',
 '18',
 '69',
 '40',
 '70',
 '2',
 '68',
 '51',
 '75',
 '76',
 '52',
 '33',
 '49',
 '20',
 '71',
 '81',
 '83',
 '46',
 '85',
 '86',
 '87',
 '61',
 '86',
 '66',
 '91',
 '77',
 '20',
 '88',
 '36',
 '24',
 '95',
 '37',
 '99',
 '73']

In [88]:
weeks=driver.find_elements_by_xpath('//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
len(weeks)

100

In [89]:
Weeks_on_board=[]
for k in weeks:
    Weeks_on_board.append(k.text)
Weeks_on_board

['3',
 '2',
 '66',
 '26',
 '22',
 '41',
 '1',
 '38',
 '24',
 '30',
 '31',
 '43',
 '22',
 '32',
 '33',
 '28',
 '45',
 '68',
 '24',
 '2',
 '76',
 '28',
 '39',
 '10',
 '7',
 '17',
 '17',
 '2',
 '14',
 '19',
 '23',
 '15',
 '49',
 '6',
 '16',
 '20',
 '10',
 '8',
 '42',
 '12',
 '44',
 '40',
 '6',
 '15',
 '17',
 '12',
 '11',
 '3',
 '37',
 '1',
 '1',
 '13',
 '12',
 '12',
 '1',
 '9',
 '8',
 '17',
 '5',
 '18',
 '22',
 '16',
 '17',
 '9',
 '13',
 '15',
 '15',
 '9',
 '8',
 '7',
 '4',
 '11',
 '20',
 '12',
 '3',
 '3',
 '15',
 '3',
 '5',
 '4',
 '14',
 '12',
 '1',
 '9',
 '3',
 '1',
 '6',
 '9',
 '5',
 '17',
 '3',
 '5',
 '16',
 '2',
 '16',
 '14',
 '4',
 '4',
 '1',
 '3']

In [90]:
hot=pd.DataFrame()

hot['Song_name']= Song_name
hot['Artist_name ']= Artist_name
hot['Last_week_rank']= Last_week_rank
hot['Peak_rank']= Peak_rank
hot['Weeks_on_board']= Weeks_on_board
hot

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,As It Was,Harry Styles,2,1,3
1,First Class,Jack Harlow,1,1,2
2,Heat Waves,Glass Animals,3,1,66
3,Big Energy,Latto,4,3,26
4,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,91,24,14
96,Money So Big,Yeat,-,95,4
97,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
98,Fall In Love,Bailey Zimmerman,-,99,1
99,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

## 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [91]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [92]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

In [93]:
url='https://www.naukri.com/browse-jobs'
driver.get(url)

In [94]:
Url=[]
for i in driver.find_elements_by_xpath("//ul[@class='midSec menu']/li[2]/a"):
    Url.append(i.get_attribute("href"))
Url

['https://www.naukri.com/recruiters']

In [95]:
driver.get(Url[0])

In [96]:
search_job=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_job

In [97]:
search_job.send_keys('Data Science')

In [98]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_btn

In [99]:
search_btn.click()

In [100]:
name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
len(name)

50

In [101]:
Name=[]
for j in name:
    Name.append(j.text)
Name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Sakshi Chhikara',
 'Kapil Devang',
 'Ruchi Dhote',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Avodha',
 'Jayanth N',
 'Priya Khare',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Radha Manivasagam']

In [102]:
des=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
len(des)

50

In [103]:
Designation=[]
for k in des:
    Designation.append(k.text)
Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'Assistant Manager HR',
 'HR Manager',
 'Senior Executive Talent Acquisition',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'Business Development Associate',
 'Project Manager',
 'Senior Manager',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'Recruitment Consultant',
 'HR Executive']

In [104]:
comp=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
len(comp)

50

In [105]:
Company=[]
for k in comp:
    Company.append(k.text)
Company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Infinitive Software Solutions',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'BISP Solutions',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Confidential',
 'Nikitha Palaparthi',
 'Dollarbird Information Services Pvt, Ltd',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Techcovery']

In [106]:
skills=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
len(skills)

50

In [107]:
Skills=[]
for k in skills:
    Skills.append(k.text)
Skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Python, Artificial Intelligence, Machine Learning, Data Science']

In [108]:
loc=driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]/small')
len(loc)

48

In [109]:
Location=[]
for k in loc:
    Location.append(k.text)
Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Chandigarh',
 'Bhopal',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore']

In [110]:
Location1=Location
Location1.insert(46,"NA")
Location1.insert(28,"NA")
Location1

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Chandigarh',
 'Bhopal',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'NA',
 'Delhi',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'NA',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore']

In [111]:
recruiters=pd.DataFrame()
recruiters['Name']= Name
recruiters['Designation']= Designation
recruiters['Company ']= Company
recruiters['Skills they hire for']= Skills
recruiters['Location']= Location1
recruiters

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",NA
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",NA
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore

## 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [140]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

In [141]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [142]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [143]:
# Scraping Book name
try:
    book=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [145]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.

 Url = https://www.imdb.com/list/ls095964455/
        
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [146]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [147]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [148]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [149]:
# Scraping Name via Xpath
try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [150]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,979,451"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"985,132"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"943,474"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"281,854"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,793"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,508"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,143"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,639"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,979"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"226,117"

## 10. Details of Datasets from UCI machine learning repositories.


Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [151]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [152]:
# Clicking on all datasets links
dataset=driver.find_element_by_xpath("//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [153]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [154]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|██████████| 622/622 [02:04<00:00,  5.01it/s]

In [155]:
len(No_of_Instances),len(Year),len(Dataset),len(Data_Type),len(Task),len(Attribute_Type)

(622, 622, 622, 622, 622, 622)

In [156]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021