## **Flight Price Prediction Project - Part 1 Web Scraping Data of Flight prices**
***Author : Ms. Yashshree Baviskar***
***
### **Objective** :
 **To Scrape data of Flight price from different platform**
 
 **Details - You have to scrape at least 1500 rows of data. You can scrape more data as well, it’s up to you, 
More the data better the model
In this section you have to scrape the data of flights from different websites (yatra.com, 
skyscanner.com, official websites of airlines, etc). The number of columns for data doesn’t have 
limit, it’s up to you and your creativity. Generally, these columns areairline name, date of journey, 
source, destination, route, departure time, arrival time, duration, total stops and the target variable 
price. You can make changes to it, you can add or you can remove some columns, it completely
depends on the website from which you are fetching the data.**

In [1]:
import pandas as pd
import numpy as np
import time
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
## Importing Web Driver
driver=webdriver.Chrome(r'C:\chromedriver.exe')

In [8]:
url = "https://www.yatra.com/"
driver.get(url)
time.sleep(2)

## Extracting Economy flights from New Dehli to Bombay

> - **Opening Economy Flights from New Delhi to Bombay on 21st June 2022**

In [5]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=21%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1244505699220&version=1.2&viewName=normal"
driver.get(url)
time.sleep(2)

In [6]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [7]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [01:05<00:00,  1.31s/it]

In [8]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

166

In [9]:

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 166/166 [00:03<00:00, 48.00it/s]
100%|██████████| 166/166 [00:03<00:00, 50.59it/s]
100%|██████████| 166/166 [00:03<00:00, 48.19it/s]
100%|██████████| 166/166 [00:03<00:00, 50.77it/s]
100%|██████████| 166/166 [00:03<00:00, 48.95it/s]
100%|██████████| 166/166 [00:03<00:00, 52.06it/s]
100%|██████████| 166/166 [00:03<00:00, 48.23it/s]
100%|██████████| 166/166 [00:03<00:00, 43.97it/s]

In [12]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(1)


# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

100%|██████████| 166/166 [00:00<?, ?it/s]

In [13]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(166, 166, 166, 166, 166, 166, 166, 166, 166, 166)

In [14]:
Flight=pd.DataFrame()
Flight["Airline"]=Airlines
Flight['Aeroplane'] = Aeroplane
Flight["Date"]=Date
Flight["Departure_Time"]=Dept_time
Flight["Arrival_Time"]=Arrival_time
Flight["Source"]=Source
Flight["Destination"]=Destination
Flight["Stops"]=Stops
Flight["Duration"]=Duration
Flight["Price"]=Price
Flight.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-981,"Tue, 21 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-993,"Tue, 21 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
2,Vistara,UK-951,"Tue, 21 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-933,"Tue, 21 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-985,"Tue, 21 Jun 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,8578

> - **Opening Ecomnomy flights from New Dehli to Bombay on 22nd June 2022**

In [32]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url= 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=22%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1569880632041&version=1.1&viewName=normal'
driver.get(url)
time.sleep(2)

In [33]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [34]:
from tqdm import tqdm
for _ in tqdm (range(0,75)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 75/75 [00:27<00:00,  2.69it/s]

In [35]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

173

In [36]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 173/173 [00:03<00:00, 54.09it/s]
100%|██████████| 173/173 [00:03<00:00, 55.79it/s]
100%|██████████| 173/173 [00:03<00:00, 53.66it/s]
100%|██████████| 173/173 [00:03<00:00, 57.37it/s]
100%|██████████| 173/173 [00:03<00:00, 56.80it/s]
100%|██████████| 173/173 [00:03<00:00, 52.13it/s]
100%|██████████| 173/173 [00:03<00:00, 56.29it/s]
100%|██████████| 173/173 [00:03<00:00, 53.64it/s]

In [41]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 173/173 [00:00<?, ?it/s]

In [45]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(173, 173, 173, 173, 173, 173, 173, 173, 173, 173)

In [48]:
Flight1=pd.DataFrame()
Flight1["Airline"]=Airlines
Flight1['Aeroplane'] = Aeroplane
Flight1["Date"]=Date
Flight1["Departure_Time"]=Dept_time
Flight1["Arrival_Time"]=Arrival_time
Flight1["Source"]=Source
Flight1["Destination"]=Destination
Flight1["Stops"]=Stops
Flight1["Duration"]=Duration
Flight1["Price"]=Price
Flight1.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-975,"Wed, 22 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-927,"Wed, 22 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
2,Vistara,UK-993,"Wed, 22 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-951,"Wed, 22 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-933,"Wed, 22 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578

- **Opening Ecomnomy flights from New Dehli to Bombay on 24th June 2022**

In [48]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url ="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=24%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1489945844418&version=1.1&viewName=normal"
time.sleep(2)

In [59]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [60]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.90it/s]

In [61]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

81

In [62]:
# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 81/81 [00:01<00:00, 52.10it/s]
100%|██████████| 81/81 [00:01<00:00, 57.87it/s]
100%|██████████| 81/81 [00:01<00:00, 53.43it/s]
100%|██████████| 81/81 [00:01<00:00, 51.69it/s]
100%|██████████| 81/81 [00:01<00:00, 56.03it/s]
100%|██████████| 81/81 [00:01<00:00, 57.66it/s]
100%|██████████| 81/81 [00:01<00:00, 53.54it/s]
100%|██████████| 81/81 [00:01<00:00, 50.35it/s]

In [64]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(1)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 81/81 [00:00<?, ?it/s]

In [65]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(81, 0, 81, 81, 81, 81, 81, 81, 81, 81)

In [66]:
len(Airlines)

0

In [67]:
len(Aeroplane)

81

In [111]:
Flight2=pd.DataFrame()
Flight2["Airline"]=Airlines
Flight2["Aeroplane"] = Aeroplane
Flight2["Date"]=Date
Flight2["Departure_Time"]=Dept_time
Flight2["Arrival_Time"]=Arrival_time
Flight2["Source"]=Source
Flight2["Destination"]=Destination
Flight2["Stops"]=Stops
Flight2["Duration"]=Duration
Flight2["Price"]=Price
Flight2.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,NaN,UK-975,"Fri, 24 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,NaN,UK-981,"Fri, 24 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,8578
2,NaN,UK-927,"Fri, 24 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
3,NaN,UK-993,"Fri, 24 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,NaN,UK-951,"Fri, 24 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578

- **Opening Business flights from New Dehli to Bombay on 25th June 2022**

In [24]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=25%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=101215575924&version=1.1&viewName=normal"
time.sleep(2)

In [25]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [26]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:32<00:00,  1.54it/s]

In [27]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

162

In [28]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 162/162 [00:02<00:00, 54.73it/s]
100%|██████████| 162/162 [00:03<00:00, 49.10it/s]
100%|██████████| 162/162 [00:03<00:00, 48.53it/s]
100%|██████████| 162/162 [00:02<00:00, 56.36it/s]
100%|██████████| 162/162 [00:03<00:00, 48.10it/s]
100%|██████████| 162/162 [00:03<00:00, 48.53it/s]
100%|██████████| 162/162 [00:03<00:00, 50.65it/s]
100%|██████████| 162/162 [00:03<00:00, 50.41it/s]

In [32]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 162/162 [00:00<00:00, 162710.07it/s]

In [33]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(162, 162, 162, 162, 162, 162, 162, 162, 162, 162)

In [34]:
Flight3=pd.DataFrame()
Flight3["Airline"]=Airlines
Flight3["Aeroplane"] = Aeroplane
Flight3["Date"]=Date
Flight3["Departure_Time"]=Dept_time
Flight3["Arrival_Time"]=Arrival_time
Flight3["Source"]=Source
Flight3["Destination"]=Destination
Flight3["Stops"]=Stops
Flight3["Duration"]=Duration
Flight3["Price"]=Price
Flight3.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-975,"Sat, 25 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-981,"Sat, 25 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,8578
2,Vistara,UK-927,"Sat, 25 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
3,Vistara,UK-933,"Sat, 25 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-953,"Sat, 25 Jun 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,8578

In [117]:
Flight.to_csv('Flight_Price_dataset_0.csv')

In [118]:
Flight1.to_csv('Flight_Price_dataset_1.csv')

In [119]:
Flight2.to_csv('Flight_Price_dataset_2.csv')

In [35]:
Flight3.to_csv('Flight_Price_dataset_3.csv')

- **Opening Ecomnomy flights from New Dehli to Bombay on 26th June 2022**

In [36]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=26%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=180836675501&version=1.1&viewName=normal"
time.sleep(2)

In [37]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [38]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:19<00:00,  2.59it/s]

In [39]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

177

In [40]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 177/177 [00:03<00:00, 55.46it/s]
100%|██████████| 177/177 [00:03<00:00, 54.62it/s]
100%|██████████| 177/177 [00:03<00:00, 49.92it/s]
100%|██████████| 177/177 [00:03<00:00, 53.92it/s]
100%|██████████| 177/177 [00:03<00:00, 58.07it/s]
100%|██████████| 177/177 [00:03<00:00, 56.24it/s]
100%|██████████| 177/177 [00:03<00:00, 56.63it/s]
100%|██████████| 177/177 [00:03<00:00, 50.88it/s]

In [44]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 177/177 [00:00<00:00, 177903.62it/s]

In [45]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(177, 177, 177, 177, 177, 177, 177, 177, 177, 177)

In [46]:
Flight4=pd.DataFrame()
Flight4["Airline"]=Airlines
Flight4["Aeroplane"] = Aeroplane
Flight4["Date"]=Date
Flight4["Departure_Time"]=Dept_time
Flight4["Arrival_Time"]=Arrival_time
Flight4["Source"]=Source
Flight4["Destination"]=Destination
Flight4["Stops"]=Stops
Flight4["Duration"]=Duration
Flight4["Price"]=Price
Flight4.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-927,"Sun, 26 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
1,Vistara,UK-953,"Sun, 26 Jun 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,8578
2,Vistara,UK-943,"Sun, 26 Jun 2022",07:30,09:45,New Delhi,Mumbai,Non Stop,2h 15m,8578
3,Vistara,UK-963,"Sun, 26 Jun 2022",08:50,11:10,New Delhi,Mumbai,Non Stop,2h 20m,8578
4,IndiGo,6E-2138,"Sun, 26 Jun 2022",11:55,13:55,New Delhi,Mumbai,Non Stop,2h 00m,8579

In [47]:
Flight4.to_csv('Flight_Price_dataset_4.csv')

- **Opening Ecomnomy flights from New Dehli to Bombay on 27th June 2022**

In [71]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=27%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=12464032774&viewName=normal"
time.sleep(2)

In [72]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [75]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.88it/s]

In [76]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

116

In [77]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 116/116 [00:01<00:00, 60.86it/s]
100%|██████████| 116/116 [00:01<00:00, 61.38it/s]
100%|██████████| 116/116 [00:01<00:00, 60.53it/s]
100%|██████████| 116/116 [00:02<00:00, 56.57it/s]
100%|██████████| 116/116 [00:02<00:00, 51.31it/s]
100%|██████████| 116/116 [00:02<00:00, 54.88it/s]
100%|██████████| 116/116 [00:02<00:00, 50.56it/s]
100%|██████████| 116/116 [00:02<00:00, 43.90it/s]

In [78]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 116/116 [00:00<?, ?it/s]

In [79]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(116, 116, 116, 116, 116, 116, 116, 116, 116, 116)

In [80]:
Flight5=pd.DataFrame()
Flight5["Airline"]=Airlines
Flight5["Aeroplane"] =Aeroplane
Flight5["Date"]=Date
Flight5["Departure_Time"]=Dept_time
Flight5["Arrival_Time"]=Arrival_time
Flight5["Source"]=Source
Flight5["Destination"]=Destination
Flight5["Stops"]=Stops
Flight5["Duration"]=Duration
Flight5["Price"]=Price
Flight5.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-981,"Mon, 27 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-927,"Mon, 27 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
2,Vistara,UK-993,"Mon, 27 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-951,"Mon, 27 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-933,"Mon, 27 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578

In [114]:
Flight5.to_csv('Flight_Price_dataset_5.csv')

- **Opening Ecomnomy flights from New Dehli to Bombay on 28th June 2022**

In [81]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=28%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=461220601422&version=1.1&viewName=normal"

In [82]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [85]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:52<00:00,  1.05s/it]

In [86]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

164

In [87]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 164/164 [00:03<00:00, 53.53it/s]
100%|██████████| 164/164 [00:03<00:00, 52.88it/s]
100%|██████████| 164/164 [00:03<00:00, 52.84it/s]
100%|██████████| 164/164 [00:02<00:00, 56.01it/s]
100%|██████████| 164/164 [00:02<00:00, 55.07it/s]
100%|██████████| 164/164 [00:02<00:00, 56.87it/s]
100%|██████████| 164/164 [00:02<00:00, 55.49it/s]
100%|██████████| 164/164 [00:02<00:00, 54.76it/s]

In [112]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 164/164 [00:00<?, ?it/s]

In [113]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(164, 164, 164, 164, 164, 164, 164, 164, 164, 164)

In [117]:
Flight6=pd.DataFrame()
Flight6["Airline"]=Airlines
Flight6["Aeroplane"] =Aeroplane
Flight6["Date"]=Date
Flight6["Departure_Time"]=Dept_time
Flight6["Arrival_Time"]=Arrival_time
Flight6["Source"]=Source
Flight6["Destination"]=Destination
Flight6["Stops"]=Stops
Flight6["Duration"]=Duration
Flight6["Price"]=Price
Flight6.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Air Asia,I5-798/330,"Tue, 28 Jun 2022",12:50,19:15,New Delhi,Mumbai,1 Stop,6h 25m,8052
1,Air Asia,I5-744/632,"Tue, 28 Jun 2022",07:25,14:05,New Delhi,Mumbai,1 Stop,6h 40m,8052
2,Air Asia,I5-552/330,"Tue, 28 Jun 2022",10:40,19:15,New Delhi,Mumbai,1 Stop,8h 35m,8052
3,Air Asia,I5-1732/941,"Tue, 28 Jun 2022",21:40,07:15\n+ 1 day,New Delhi,Mumbai,1 Stop,9h 35m,8052
4,Air Asia,I5-721/941,"Tue, 28 Jun 2022",21:00,07:15\n+ 1 day,New Delhi,Mumbai,1 Stop,10h 15m,8052

In [118]:
Flight6.to_csv('Flight_Price_dataset_6.csv')

- **Opening Ecomnomy flights from New Dehli to Bombay on 29th June 2022**

In [219]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url ="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=29/06/2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=496931500665&viewName=normal"

In [220]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [221]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:29<00:00,  1.68it/s]

In [222]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

155

In [223]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 155/155 [00:02<00:00, 53.62it/s]
100%|██████████| 155/155 [00:03<00:00, 49.05it/s]
100%|██████████| 155/155 [00:02<00:00, 56.56it/s]
100%|██████████| 155/155 [00:02<00:00, 56.04it/s]
100%|██████████| 155/155 [00:02<00:00, 57.25it/s]
100%|██████████| 155/155 [00:02<00:00, 57.30it/s]
100%|██████████| 155/155 [00:02<00:00, 55.39it/s]
100%|██████████| 155/155 [00:02<00:00, 53.02it/s]

In [227]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 155/155 [00:00<00:00, 155048.20it/s]

In [228]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(155, 155, 155, 155, 155, 155, 155, 155, 155, 155)

In [229]:
Flight7=pd.DataFrame()
Flight7["Airline"]=Airlines
Flight7["Aeroplane"] =Aeroplane
Flight7["Date"]=Date
Flight7["Departure_Time"]=Dept_time
Flight7["Arrival_Time"]=Arrival_time
Flight7["Source"]=Source
Flight7["Destination"]=Destination
Flight7["Stops"]=Stops
Flight7["Duration"]=Duration
Flight7["Price"]=Price
Flight7.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Air Asia,I5-798/330,"Wed, 29 Jun 2022",12:50,19:15,New Delhi,Mumbai,1 Stop,6h 25m,8052
1,Air Asia,I5-744/632,"Wed, 29 Jun 2022",07:25,14:05,New Delhi,Mumbai,1 Stop,6h 40m,8052
2,Air Asia,I5-552/330,"Wed, 29 Jun 2022",10:40,19:15,New Delhi,Mumbai,1 Stop,8h 35m,8052
3,Air Asia,I5-1732/941,"Wed, 29 Jun 2022",21:40,07:15\n+ 1 day,New Delhi,Mumbai,1 Stop,9h 35m,8052
4,Air Asia,I5-721/941,"Wed, 29 Jun 2022",21:00,07:15\n+ 1 day,New Delhi,Mumbai,1 Stop,10h 15m,8052

In [239]:
Flight7.to_csv('Flight_Price_dataset_7.csv')

In [230]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=29%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=497098436603&viewName=normal"

In [231]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [232]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.95it/s]

In [234]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [235]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 57.92it/s]
100%|██████████| 60/60 [00:01<00:00, 46.69it/s]
100%|██████████| 60/60 [00:01<00:00, 52.82it/s]
100%|██████████| 60/60 [00:01<00:00, 55.13it/s]
100%|██████████| 60/60 [00:01<00:00, 58.24it/s]
100%|██████████| 60/60 [00:01<00:00, 53.53it/s]
100%|██████████| 60/60 [00:01<00:00, 52.44it/s]
100%|██████████| 60/60 [00:01<00:00, 53.67it/s]

In [236]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [237]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [238]:
Flight8=pd.DataFrame()
Flight8["Airline"]=Airlines
Flight8["Aeroplane"] =Aeroplane
Flight8["Date"]=Date
Flight8["Departure_Time"]=Dept_time
Flight8["Arrival_Time"]=Arrival_time
Flight8["Source"]=Source
Flight8["Destination"]=Destination
Flight8["Stops"]=Stops
Flight8["Duration"]=Duration
Flight8["Price"]=Price
Flight8.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Fri, 24 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-929/918,"Fri, 24 Jun 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
2,Vistara Premium Economy,UK-929/936,"Fri, 24 Jun 2022",21:20,09:40\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 20m,10336
3,Vistara Premium Economy,UK-959/918,"Fri, 24 Jun 2022",06:30,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,23h 45m,10336
4,Vistara Premium Economy,UK-929/956,"Fri, 24 Jun 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336

In [240]:
Flight8.to_csv('Flight_Price_dataset_8.csv')

In [260]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=29%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1042630162076&version=1.1&viewName=normal"

In [261]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [262]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:38<00:00,  1.31it/s]

In [263]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 45.09it/s]
100%|██████████| 60/60 [00:01<00:00, 50.19it/s]
100%|██████████| 60/60 [00:01<00:00, 54.55it/s]
100%|██████████| 60/60 [00:01<00:00, 47.26it/s]
100%|██████████| 60/60 [00:01<00:00, 46.92it/s]
100%|██████████| 60/60 [00:01<00:00, 52.94it/s]
100%|██████████| 60/60 [00:01<00:00, 52.93it/s]
100%|██████████| 60/60 [00:01<00:00, 50.99it/s]

In [267]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [268]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [269]:
Flight9=pd.DataFrame()
Flight9["Airline"]=Airlines
Flight9["Aeroplane"] =Aeroplane
Flight9["Date"]=Date
Flight9["Departure_Time"]=Dept_time
Flight9["Arrival_Time"]=Arrival_time
Flight9["Source"]=Source
Flight9["Destination"]=Destination
Flight9["Stops"]=Stops
Flight9["Duration"]=Duration
Flight9["Price"]=Price
Flight9.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Wed, 29 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Wed, 29 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,10190
2,Vistara Premium Economy,UK-969/956,"Wed, 29 Jun 2022",18:10,23:05,New Delhi,Mumbai,1 Stop,4h 55m,10336
3,Vistara Premium Economy,UK-929/918,"Wed, 29 Jun 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
4,Vistara Premium Economy,UK-969/918,"Wed, 29 Jun 2022",18:10,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 05m,10336

In [270]:
Flight9.to_csv('Flight_Price_dataset_9.csv')

In [272]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=23%2F06%2F2022&ADT=1&CHD=0&INF=0&non_stop=1&class=Business&source=fresco-home&unqvaldesktop=1460443138985"

In [273]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [274]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.83it/s]

In [275]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

12

In [276]:

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 12/12 [00:00<00:00, 44.64it/s]
100%|██████████| 12/12 [00:00<00:00, 35.21it/s]
100%|██████████| 12/12 [00:00<00:00, 49.01it/s]
100%|██████████| 12/12 [00:00<00:00, 54.00it/s]
100%|██████████| 12/12 [00:00<00:00, 52.16it/s]
100%|██████████| 12/12 [00:00<00:00, 49.22it/s]
100%|██████████| 12/12 [00:00<00:00, 53.85it/s]
100%|██████████| 12/12 [00:00<00:00, 46.90it/s]

In [277]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(1)


# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

100%|██████████| 12/12 [00:00<?, ?it/s]

In [278]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(12, 12, 12, 12, 12, 12, 12, 12, 12, 12)

In [279]:
Flight10=pd.DataFrame()
Flight10["Airline"]=Airlines
Flight10['Aeroplane'] = Aeroplane
Flight10["Date"]=Date
Flight10["Departure_Time"]=Dept_time
Flight10["Arrival_Time"]=Arrival_time
Flight10["Source"]=Source
Flight10["Destination"]=Destination
Flight10["Stops"]=Stops
Flight10["Duration"]=Duration
Flight10["Price"]=Price
Flight10.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Air India Business,AI-887,"Thu, 23 Jun 2022",07:00,09:05,New Delhi,Mumbai,Non Stop,2h 05m,25612
1,Air India Business,AI-665,"Thu, 23 Jun 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,25612
2,Air India Business,AI-805,"Thu, 23 Jun 2022",20:00,22:10,New Delhi,Mumbai,Non Stop,2h 10m,25612
3,Air India Business,AI-605,"Thu, 23 Jun 2022",21:15,23:35,New Delhi,Mumbai,Non Stop,2h 20m,25612
4,Vistara Business,UK-993,"Thu, 23 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,25736

In [280]:
Flight10.to_csv('Flight_Price_dataset_10.csv')

- **Opening Business flights from New Dehli to Bombay on 24th June 2022**

In [281]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=24%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=832291091889&version=1.1&viewName=normal'

In [282]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [283]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.95it/s]

In [284]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

17

In [285]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 17/17 [00:00<00:00, 50.48it/s]
100%|██████████| 17/17 [00:00<00:00, 57.27it/s]
100%|██████████| 17/17 [00:00<00:00, 57.27it/s]
100%|██████████| 17/17 [00:00<00:00, 63.24it/s]
100%|██████████| 17/17 [00:00<00:00, 49.74it/s]
100%|██████████| 17/17 [00:00<00:00, 49.42it/s]
100%|██████████| 17/17 [00:00<00:00, 53.38it/s]
100%|██████████| 17/17 [00:00<00:00, 47.80it/s]

In [286]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 17/17 [00:00<?, ?it/s]

In [287]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(17, 17, 17, 17, 17, 17, 17, 17, 17, 17)

In [288]:
Flight11=pd.DataFrame()
Flight11["Airline"]=Airlines
Flight11["Aeroplane"] = Aeroplane
Flight11["Date"]=Date
Flight11["Departure_Time"]=Dept_time
Flight11["Arrival_Time"]=Arrival_time
Flight11["Source"]=Source
Flight11["Destination"]=Destination
Flight11["Stops"]=Stops
Flight11["Duration"]=Duration
Flight11["Price"]=Price
Flight11.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Air India Business,AI-887,"Fri, 24 Jun 2022",07:00,09:05,New Delhi,Mumbai,Non Stop,2h 05m,25612
1,Air India Business,AI-665,"Fri, 24 Jun 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,25612
2,Air India Business,AI-863,"Fri, 24 Jun 2022",14:00,16:15,New Delhi,Mumbai,Non Stop,2h 15m,25612
3,Air India Business,AI-605,"Fri, 24 Jun 2022",21:15,23:35,New Delhi,Mumbai,Non Stop,2h 20m,25612
4,Air India Business,AI-865,"Fri, 24 Jun 2022",10:00,12:35,New Delhi,Mumbai,Non Stop,2h 35m,25612

In [289]:
Flight11.to_csv('Flight_Price_dataset_11.csv')

- **Opening business flights from New Dehli to Bombay on 25th June 2022**

In [290]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=25%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1649069079612&version=1.1&viewName=normal'

In [291]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [292]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:18<00:00,  2.73it/s]

In [293]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

19

In [294]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 19/19 [00:00<00:00, 57.61it/s]
100%|██████████| 19/19 [00:00<00:00, 50.60it/s]
100%|██████████| 19/19 [00:00<00:00, 56.75it/s]
100%|██████████| 19/19 [00:00<00:00, 55.91it/s]
100%|██████████| 19/19 [00:00<00:00, 59.58it/s]
100%|██████████| 19/19 [00:00<00:00, 55.77it/s]
100%|██████████| 19/19 [00:00<00:00, 60.01it/s]
100%|██████████| 19/19 [00:00<00:00, 50.16it/s]

In [295]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 19/19 [00:00<?, ?it/s]

In [296]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(19, 19, 19, 19, 19, 19, 19, 19, 19, 19)

In [297]:
Flight12=pd.DataFrame()
Flight12["Airline"]=Airlines
Flight12["Aeroplane"] =Aeroplane
Flight12["Date"]=Date
Flight12["Departure_Time"]=Dept_time
Flight12["Arrival_Time"]=Arrival_time
Flight12["Source"]=Source
Flight12["Destination"]=Destination
Flight12["Stops"]=Stops
Flight12["Duration"]=Duration
Flight12["Price"]=Price
Flight12.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Sat, 25 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-981,"Sat, 25 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,22152
2,Vistara Business,UK-985,"Sat, 25 Jun 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-953,"Sat, 25 Jun 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Air India Business,AI-605,"Sat, 25 Jun 2022",21:15,23:35,New Delhi,Mumbai,Non Stop,2h 20m,22152

In [298]:
Flight12.to_csv('Flight_Price_dataset_12.csv')

- **Opening business flights from New Dehli to Bombay on 26th June 2022**

In [299]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=26%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1291859192499&version=1.1&viewName=normal'

In [300]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [301]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.89it/s]

In [302]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

18

In [303]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 18/18 [00:00<00:00, 31.49it/s]
100%|██████████| 18/18 [00:00<00:00, 49.35it/s]
100%|██████████| 18/18 [00:00<00:00, 58.67it/s]
100%|██████████| 18/18 [00:00<00:00, 57.73it/s]
100%|██████████| 18/18 [00:00<00:00, 52.51it/s]
100%|██████████| 18/18 [00:00<00:00, 62.66it/s]
100%|██████████| 18/18 [00:00<00:00, 54.09it/s]
100%|██████████| 18/18 [00:00<00:00, 34.91it/s]

In [304]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 18/18 [00:00<?, ?it/s]

In [305]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(18, 18, 18, 18, 18, 18, 18, 18, 18, 18)

In [306]:
Flight13=pd.DataFrame()
Flight13["Airline"]=Airlines
Flight13["Aeroplane"] =Aeroplane
Flight13["Date"]=Date
Flight13["Departure_Time"]=Dept_time
Flight13["Arrival_Time"]=Arrival_time
Flight13["Source"]=Source
Flight13["Destination"]=Destination
Flight13["Stops"]=Stops
Flight13["Duration"]=Duration
Flight13["Price"]=Price
Flight13.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-981,"Sun, 26 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-953,"Sun, 26 Jun 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,22152
2,Vistara Business,UK-995,"Sun, 26 Jun 2022",10:20,12:35,New Delhi,Mumbai,Non Stop,2h 15m,22152
3,Air India Business,AI-605,"Sun, 26 Jun 2022",21:15,23:35,New Delhi,Mumbai,Non Stop,2h 20m,22152
4,Air India Business,AI-805,"Sun, 26 Jun 2022",20:00,22:10,New Delhi,Mumbai,Non Stop,2h 10m,22712

In [307]:
Flight13.to_csv('Flight_Price_dataset_13.csv')

- **Opening Business flights from New Dehli to Bombay on 27th June 2022**

In [308]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=27%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1411072532708&version=1.1&viewName=normal'

In [309]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [310]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.91it/s]

In [311]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

20

In [312]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 20/20 [00:00<00:00, 51.85it/s]
100%|██████████| 20/20 [00:00<00:00, 48.57it/s]
100%|██████████| 20/20 [00:00<00:00, 57.84it/s]
100%|██████████| 20/20 [00:00<00:00, 53.37it/s]
100%|██████████| 20/20 [00:00<00:00, 65.11it/s]
100%|██████████| 20/20 [00:00<00:00, 63.76it/s]
100%|██████████| 20/20 [00:00<00:00, 61.19it/s]
100%|██████████| 20/20 [00:00<00:00, 55.82it/s]

In [313]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 20/20 [00:00<?, ?it/s]

In [314]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(20, 20, 20, 20, 20, 20, 20, 20, 20, 20)

In [315]:
Flight14=pd.DataFrame()
Flight14["Airline"]=Airlines
Flight14["Aeroplane"] =Aeroplane
Flight14["Date"]=Date
Flight14["Departure_Time"]=Dept_time
Flight14["Arrival_Time"]=Arrival_time
Flight14["Source"]=Source
Flight14["Destination"]=Destination
Flight14["Stops"]=Stops
Flight14["Duration"]=Duration
Flight14["Price"]=Price
Flight14.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-981,"Mon, 27 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-993,"Mon, 27 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
2,Vistara Business,UK-951,"Mon, 27 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Air India Business,AI-805,"Mon, 27 Jun 2022",20:00,22:10,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-953,"Mon, 27 Jun 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [316]:
Flight14.to_csv('Flight_Price_dataset_14.csv')

- **Opening Business flights from New Dehli to Bombay on 30th June 2022**

In [317]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=30%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=984355911485&version=1.1&viewName=normal'

In [318]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [319]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.98it/s]

In [320]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

21

In [321]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 21/21 [00:00<00:00, 31.41it/s]
100%|██████████| 21/21 [00:00<00:00, 49.79it/s]
100%|██████████| 21/21 [00:00<00:00, 54.16it/s]
100%|██████████| 21/21 [00:00<00:00, 58.53it/s]
100%|██████████| 21/21 [00:00<00:00, 59.03it/s]
100%|██████████| 21/21 [00:00<00:00, 43.24it/s]
100%|██████████| 21/21 [00:00<00:00, 42.88it/s]
100%|██████████| 21/21 [00:00<00:00, 45.98it/s]

In [322]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 21/21 [00:00<?, ?it/s]

In [323]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(21, 21, 21, 21, 21, 21, 21, 21, 21, 21)

In [324]:
Flight15=pd.DataFrame()
Flight15["Airline"]=Airlines
Flight15["Aeroplane"] =Aeroplane
Flight15["Date"]=Date
Flight15["Departure_Time"]=Dept_time
Flight15["Arrival_Time"]=Arrival_time
Flight15["Source"]=Source
Flight15["Destination"]=Destination
Flight15["Stops"]=Stops
Flight15["Duration"]=Duration
Flight15["Price"]=Price
Flight15.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Thu, 30 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-981,"Thu, 30 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,22152
2,Air India Business,AI-887,"Thu, 30 Jun 2022",07:00,09:05,New Delhi,Mumbai,Non Stop,2h 05m,22152
3,Vistara Business,UK-927,"Thu, 30 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,22152
4,Air India Business,AI-665,"Thu, 30 Jun 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [346]:
Flight15.to_csv('Flight_Price_dataset_15.csv')

- **Opening Premium Ecomnomy flights from New Dehli to Bombay on 30th June 2022**

In [327]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=30%2F06%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1652196964520&version=1.1&viewName=normal'

In [328]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [329]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  3.03it/s]

In [330]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

13

In [331]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 13/13 [00:00<00:00, 46.29it/s]
100%|██████████| 13/13 [00:00<00:00, 46.96it/s]
100%|██████████| 13/13 [00:00<00:00, 44.39it/s]
100%|██████████| 13/13 [00:00<00:00, 54.43it/s]
100%|██████████| 13/13 [00:00<00:00, 50.03it/s]
100%|██████████| 13/13 [00:00<00:00, 53.75it/s]
100%|██████████| 13/13 [00:00<00:00, 54.89it/s]
100%|██████████| 13/13 [00:00<00:00, 52.66it/s]

In [332]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 13/13 [00:00<?, ?it/s]

In [333]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(13, 13, 13, 13, 13, 13, 13, 13, 13, 13)

In [334]:
Flight16=pd.DataFrame()
Flight16["Airline"]=Airlines
Flight16["Aeroplane"] =Aeroplane
Flight16["Date"]=Date
Flight16["Departure_Time"]=Dept_time
Flight16["Arrival_Time"]=Arrival_time
Flight16["Source"]=Source
Flight16["Destination"]=Destination
Flight16["Stops"]=Stops
Flight16["Duration"]=Duration
Flight16["Price"]=Price
Flight16.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Thu, 30 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Thu, 30 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,10190
2,Vistara Premium Economy,UK-993,"Thu, 30 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,11086
3,Vistara Premium Economy,UK-933,"Thu, 30 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,11086
4,Vistara Premium Economy,UK-985,"Thu, 30 Jun 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,11086

In [335]:
Flight16.to_csv('Flight_Price_dataset_16.csv')

In [337]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=01%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1145406136056&version=1.1&viewName=normal'

In [338]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [339]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:18<00:00,  2.71it/s]

In [340]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 53/53 [00:00<00:00, 61.96it/s]
100%|██████████| 53/53 [00:00<00:00, 60.07it/s]
100%|██████████| 53/53 [00:00<00:00, 58.17it/s]
100%|██████████| 53/53 [00:00<00:00, 53.62it/s]
100%|██████████| 53/53 [00:01<00:00, 52.46it/s]
100%|██████████| 53/53 [00:01<00:00, 50.60it/s]
100%|██████████| 53/53 [00:01<00:00, 51.01it/s]
100%|██████████| 53/53 [00:01<00:00, 52.10it/s]

In [341]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 53/53 [00:00<?, ?it/s]

In [342]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(53, 53, 53, 53, 53, 53, 53, 53, 53, 53)

In [343]:
Flight17=pd.DataFrame()
Flight17["Airline"]=Airlines
Flight17["Aeroplane"] =Aeroplane
Flight17["Date"]=Date
Flight17["Departure_Time"]=Dept_time
Flight17["Arrival_Time"]=Arrival_time
Flight17["Source"]=Source
Flight17["Destination"]=Destination
Flight17["Stops"]=Stops
Flight17["Duration"]=Duration
Flight17["Price"]=Price
Flight17.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-975,"Fri, 1 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-927,"Fri, 1 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
2,Vistara,UK-993,"Fri, 1 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-951,"Fri, 1 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-933,"Fri, 1 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578

In [344]:
Flight17.to_csv('Flight_Price_dataset_17.csv')

- **Opening Premium Ecomnomy flights from New Dehli to Bombay on 1st July 2022**

In [361]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=01%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1425838576539&version=1.1&viewName=normal'

In [362]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [363]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.91it/s]

In [364]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 13/13 [00:00<00:00, 67.05it/s]
100%|██████████| 13/13 [00:00<00:00, 58.33it/s]
100%|██████████| 13/13 [00:00<00:00, 55.12it/s]
100%|██████████| 13/13 [00:00<00:00, 51.82it/s]
100%|██████████| 13/13 [00:00<00:00, 47.13it/s]
100%|██████████| 13/13 [00:00<00:00, 61.07it/s]
100%|██████████| 13/13 [00:00<00:00, 53.31it/s]
100%|██████████| 13/13 [00:00<00:00, 49.09it/s]

In [365]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 13/13 [00:00<?, ?it/s]

In [366]:
Flight17=pd.DataFrame()
Flight17["Airline"]=Airlines
Flight17["Aeroplane"] =Aeroplane
Flight17["Date"]=Date
Flight17["Departure_Time"]=Dept_time
Flight17["Arrival_Time"]=Arrival_time
Flight17["Source"]=Source
Flight17["Destination"]=Destination
Flight17["Stops"]=Stops
Flight17["Duration"]=Duration
Flight17["Price"]=Price
Flight17.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Fri, 1 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Fri, 1 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
2,Vistara Premium Economy,UK-927,"Fri, 1 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086
3,Vistara Premium Economy,UK-993,"Fri, 1 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,11086
4,Vistara Premium Economy,UK-985,"Fri, 1 Jul 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,11086

In [367]:
Flight17.to_csv('Flight_Price_dataset_17.csv')

- **Opening Business flights from New Dehli to Bombay on 1st July 2022**

In [368]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=01%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=981223135705&version=1.1&viewName=normal'

In [369]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [370]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.97it/s]

In [371]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 23/23 [00:00<00:00, 70.42it/s]
100%|██████████| 23/23 [00:00<00:00, 56.07it/s]
100%|██████████| 23/23 [00:00<00:00, 62.72it/s]
100%|██████████| 23/23 [00:00<00:00, 56.23it/s]
100%|██████████| 23/23 [00:00<00:00, 56.21it/s]
100%|██████████| 23/23 [00:00<00:00, 66.75it/s]
100%|██████████| 23/23 [00:00<00:00, 66.43it/s]
100%|██████████| 23/23 [00:00<00:00, 63.04it/s]

In [372]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 23/23 [00:00<?, ?it/s]

In [373]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(23, 23, 23, 23, 23, 23, 23, 23, 23, 23)

In [374]:
Flight18=pd.DataFrame()
Flight18["Airline"]=Airlines
Flight18["Aeroplane"] =Aeroplane
Flight18["Date"]=Date
Flight18["Departure_Time"]=Dept_time
Flight18["Arrival_Time"]=Arrival_time
Flight18["Source"]=Source
Flight18["Destination"]=Destination
Flight18["Stops"]=Stops
Flight18["Duration"]=Duration
Flight18["Price"]=Price
Flight18.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Fri, 1 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Air India Business,AI-887,"Fri, 1 Jul 2022",07:00,09:05,New Delhi,Mumbai,Non Stop,2h 05m,22152
2,Air India Business,AI-665,"Fri, 1 Jul 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-993,"Fri, 1 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-953,"Fri, 1 Jul 2022",20:40,22:50,New Delhi,Mumbai,Non Stop,2h 10m,22152

- **Opening Business flights from New Dehli to Bombay on 2nd July 2022**

In [378]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=277642499412&version=1.1&viewName=normal'

In [377]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [379]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.95it/s]

In [380]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

23

In [381]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 23/23 [00:00<00:00, 57.11it/s]
100%|██████████| 23/23 [00:00<00:00, 50.58it/s]
100%|██████████| 23/23 [00:00<00:00, 51.26it/s]
100%|██████████| 23/23 [00:00<00:00, 58.26it/s]
100%|██████████| 23/23 [00:00<00:00, 55.73it/s]
100%|██████████| 23/23 [00:00<00:00, 55.32it/s]
100%|██████████| 23/23 [00:00<00:00, 43.26it/s]
100%|██████████| 23/23 [00:00<00:00, 45.85it/s]

In [382]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 23/23 [00:00<?, ?it/s]

In [383]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(23, 23, 23, 23, 23, 23, 23, 23, 23, 23)

In [384]:
Flight19=pd.DataFrame()
Flight19["Airline"]=Airlines
Flight19["Aeroplane"] = Aeroplane
Flight19["Date"]=Date
Flight19["Departure_Time"]=Dept_time
Flight19["Arrival_Time"]=Arrival_time
Flight19["Source"]=Source
Flight19["Destination"]=Destination
Flight19["Stops"]=Stops
Flight19["Duration"]=Duration
Flight19["Price"]=Price
Flight19.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Sat, 2 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-927,"Sat, 2 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,22152
2,Vistara Business,UK-993,"Sat, 2 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-951,"Sat, 2 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-933,"Sat, 2 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [385]:
Flight19.to_csv('Flight_Price_dataset_19.csv')

- **Opening Economy flights from New Dehli to Bombay on 2nd July 2022**

In [386]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=245949286080&version=1.1&viewName=normal'

In [394]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [388]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  3.06it/s]

In [395]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

53

In [396]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 53/53 [00:00<00:00, 55.53it/s]
100%|██████████| 53/53 [00:00<00:00, 53.91it/s]
100%|██████████| 53/53 [00:01<00:00, 51.64it/s]
100%|██████████| 53/53 [00:01<00:00, 49.42it/s]
100%|██████████| 53/53 [00:01<00:00, 50.22it/s]
100%|██████████| 53/53 [00:01<00:00, 39.93it/s]
100%|██████████| 53/53 [00:01<00:00, 50.99it/s]
100%|██████████| 53/53 [00:01<00:00, 52.04it/s]

In [399]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 53/53 [00:00<?, ?it/s]

In [400]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(53, 53, 53, 53, 53, 53, 53, 53, 53, 53)

In [401]:
Flight20=pd.DataFrame()
Flight20["Airline"]=Airlines
Flight20["Aeroplane"] =Aeroplane
Flight20["Date"]=Date
Flight20["Departure_Time"]=Dept_time
Flight20["Arrival_Time"]=Arrival_time
Flight20["Source"]=Source
Flight20["Destination"]=Destination
Flight20["Stops"]=Stops
Flight20["Duration"]=Duration
Flight20["Price"]=Price
Flight20.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-975,"Sat, 2 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578
1,Vistara,UK-927,"Sat, 2 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
2,Vistara,UK-993,"Sat, 2 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-951,"Sat, 2 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-933,"Sat, 2 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578

In [402]:
Flight20.to_csv('Flight_Price_dataset_20.csv')

- **Opening premium Economy flights from New Dehli to Bombay on 2nd July 2022**

In [457]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1019279270953&version=1.1&viewName=normal'

In [458]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [459]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.91it/s]

In [460]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [461]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 43.85it/s]
100%|██████████| 60/60 [00:01<00:00, 48.54it/s]
100%|██████████| 60/60 [00:01<00:00, 50.07it/s]
100%|██████████| 60/60 [00:01<00:00, 55.59it/s]
100%|██████████| 60/60 [00:01<00:00, 51.18it/s]
100%|██████████| 60/60 [00:01<00:00, 44.44it/s]
100%|██████████| 60/60 [00:01<00:00, 51.36it/s]
100%|██████████| 60/60 [00:01<00:00, 52.07it/s]

In [462]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [463]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [465]:
Flight21=pd.DataFrame()
Flight21["Airline"]=Airlines
Flight21["Aeroplane"] =Aeroplane
Flight21["Date"]=Date
Flight21["Departure_Time"]=Dept_time
Flight21["Arrival_Time"]=Arrival_time
Flight21["Source"]=Source
Flight21["Destination"]=Destination
Flight21["Stops"]=Stops
Flight21["Duration"]=Duration
Flight21["Price"]=Price
Flight21.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Sat, 2 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Sat, 2 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
2,Vistara Premium Economy,UK-929/918,"Sat, 2 Jul 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
3,Vistara Premium Economy,UK-929/936,"Sat, 2 Jul 2022",21:20,09:40\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 20m,10336
4,Vistara Premium Economy,UK-929/956,"Sat, 2 Jul 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336

In [466]:
Flight21.to_csv('Flight_Price_dataset_21.csv')

- **Opening Premium Ecomnomy flights from New Dehli to Bombay on 03rd July 2022**

In [449]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=03%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=1136064953945&version=1.1&viewName=normal'

In [450]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [451]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:18<00:00,  2.77it/s]

In [452]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [453]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 49.13it/s]
100%|██████████| 60/60 [00:01<00:00, 45.66it/s]
100%|██████████| 60/60 [00:01<00:00, 51.23it/s]
100%|██████████| 60/60 [00:01<00:00, 50.28it/s]
100%|██████████| 60/60 [00:01<00:00, 53.27it/s]
100%|██████████| 60/60 [00:01<00:00, 57.36it/s]
100%|██████████| 60/60 [00:01<00:00, 51.49it/s]
100%|██████████| 60/60 [00:01<00:00, 50.20it/s]

In [454]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [455]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [456]:
Flight22=pd.DataFrame()
Flight22["Airline"]=Airlines
Flight22["Aeroplane"] =Aeroplane
Flight22["Date"]=Date
Flight22["Departure_Time"]=Dept_time
Flight22["Arrival_Time"]=Arrival_time
Flight22["Source"]=Source
Flight22["Destination"]=Destination
Flight22["Stops"]=Stops
Flight22["Duration"]=Duration
Flight22["Price"]=Price
Flight22.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-981,"Sun, 3 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
1,Vistara Premium Economy,UK-929/918,"Sun, 3 Jul 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
2,Vistara Premium Economy,UK-929/936,"Sun, 3 Jul 2022",21:20,09:40\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 20m,10336
3,Vistara Premium Economy,UK-929/956,"Sun, 3 Jul 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336
4,Vistara Premium Economy,UK-927,"Sun, 3 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086

In [426]:
Flight22.to_csv('Flight_Price_dataset_22.csv')

- **Opening Ecomnomy flights from New Dehli to Bombay on 3rd July 2022**

In [427]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=03%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=817043772032&version=1.1&viewName=normal'

In [428]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [429]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.93it/s]

In [430]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

53

In [431]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 53/53 [00:00<00:00, 56.96it/s]
100%|██████████| 53/53 [00:01<00:00, 44.05it/s]
100%|██████████| 53/53 [00:01<00:00, 49.15it/s]
100%|██████████| 53/53 [00:00<00:00, 58.99it/s]
100%|██████████| 53/53 [00:00<00:00, 56.00it/s]
100%|██████████| 53/53 [00:00<00:00, 57.64it/s]
100%|██████████| 53/53 [00:00<00:00, 59.45it/s]
100%|██████████| 53/53 [00:00<00:00, 55.53it/s]

In [432]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 53/53 [00:00<?, ?it/s]

In [433]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(53, 53, 53, 53, 53, 53, 53, 53, 53, 53)

In [434]:
Flight23=pd.DataFrame()
Flight23["Airline"]=Airlines
Flight23["Aeroplane"] =Aeroplane
Flight23["Date"]=Date
Flight23["Departure_Time"]=Dept_time
Flight23["Arrival_Time"]=Arrival_time
Flight23["Source"]=Source
Flight23["Destination"]=Destination
Flight23["Stops"]=Stops
Flight23["Duration"]=Duration
Flight23["Price"]=Price
Flight23.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara,UK-927,"Sun, 3 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,8578
1,Vistara,UK-993,"Sun, 3 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,8578
2,Vistara,UK-951,"Sun, 3 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,8578
3,Vistara,UK-933,"Sun, 3 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,8578
4,Vistara,UK-985,"Sun, 3 Jul 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,8578

In [435]:
Flight23.to_csv('Flight_Price_dataset_23.csv')

- **Opening Economy class from New Dehli to Bombay on 4th July 2022**

In [16]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=03%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=390110606919&viewName=normal'

In [17]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [18]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.83it/s]

In [19]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 50/50 [00:00<00:00, 50.26it/s]
100%|██████████| 50/50 [00:00<00:00, 56.92it/s]
100%|██████████| 50/50 [00:00<00:00, 51.54it/s]
100%|██████████| 50/50 [00:00<00:00, 53.22it/s]
100%|██████████| 50/50 [00:00<00:00, 54.03it/s]
100%|██████████| 50/50 [00:00<00:00, 52.39it/s]
100%|██████████| 50/50 [00:00<00:00, 52.94it/s]
100%|██████████| 50/50 [00:01<00:00, 47.38it/s]

In [20]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 50/50 [00:00<00:00, 49872.82it/s]

In [21]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(50, 50, 50, 50, 50, 50, 50, 50, 50, 50)

In [22]:
Flight23=pd.DataFrame()
Flight23["Airline"]=Airlines
Flight23["Aeroplane"] =Aeroplane
Flight23["Date"]=Date
Flight23["Departure_Time"]=Dept_time
Flight23["Arrival_Time"]=Arrival_time
Flight23["Source"]=Source
Flight23["Destination"]=Destination
Flight23["Stops"]=Stops
Flight23["Duration"]=Duration
Flight23["Price"]=Price
Flight23.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,SpiceJet,SG-8709,"Mon, 4 Jul 2022",19:00,21:10,New Delhi,Mumbai,Non Stop,2h 10m,5896
1,SpiceJet,SG-8701,"Mon, 4 Jul 2022",07:20,09:35,New Delhi,Mumbai,Non Stop,2h 15m,5896
2,SpiceJet,SG-8169,"Mon, 4 Jul 2022",19:45,22:00,New Delhi,Mumbai,Non Stop,2h 15m,5896
3,SpiceJet,SG-711,"Mon, 4 Jul 2022",21:40,23:55,New Delhi,Mumbai,Non Stop,2h 15m,5896
4,Vistara,UK-975,"Mon, 4 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578

In [23]:
Flight23.to_csv('Flight_Price_dataset_23.csv')

## Merging all CSV file into one file

## saving extracted details into CSV file

> - **Opening Ecomnomy flights from New Dehli to Bombay on 4th July 2022**

In [3]:
driver=webdriver.Chrome(r'C:\chromedriver.exe')
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=04%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=216858646396&viewName=normal"
driver.get(url)
time.sleep(2)

In [4]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [5]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:33<00:00,  1.49it/s]

In [8]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

50

In [9]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 50/50 [00:00<00:00, 53.28it/s]
100%|██████████| 50/50 [00:01<00:00, 42.44it/s]
100%|██████████| 50/50 [00:01<00:00, 43.39it/s]
100%|██████████| 50/50 [00:00<00:00, 52.61it/s]
100%|██████████| 50/50 [00:00<00:00, 51.42it/s]
100%|██████████| 50/50 [00:00<00:00, 52.72it/s]
100%|██████████| 50/50 [00:00<00:00, 52.51it/s]
100%|██████████| 50/50 [00:01<00:00, 48.39it/s]

In [12]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 50/50 [00:00<?, ?it/s]

In [13]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(50, 50, 50, 50, 50, 50, 50, 50, 50, 50)

In [14]:
Flight24=pd.DataFrame()
Flight24["Airline"]=Airlines
Flight24["Aeroplane"] =Aeroplane
Flight24["Date"]=Date
Flight24["Departure_Time"]=Dept_time
Flight24["Arrival_Time"]=Arrival_time
Flight24["Source"]=Source
Flight24["Destination"]=Destination
Flight24["Stops"]=Stops
Flight24["Duration"]=Duration
Flight24["Price"]=Price
Flight24.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,SpiceJet,SG-8709,"Mon, 4 Jul 2022",19:00,21:10,New Delhi,Mumbai,Non Stop,2h 10m,5896
1,SpiceJet,SG-8701,"Mon, 4 Jul 2022",07:20,09:35,New Delhi,Mumbai,Non Stop,2h 15m,5896
2,SpiceJet,SG-8169,"Mon, 4 Jul 2022",19:45,22:00,New Delhi,Mumbai,Non Stop,2h 15m,5896
3,SpiceJet,SG-711,"Mon, 4 Jul 2022",21:40,23:55,New Delhi,Mumbai,Non Stop,2h 15m,5896
4,Vistara,UK-975,"Mon, 4 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,8578

In [15]:
Flight24.to_csv('Flight_Price_dataset_24.csv')

- **Opening Premium Ecomnomy flights from New Dehli to Bombay on 04th July 2022**

In [24]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=04%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=890356274439&version=1.1&viewName=normal'

In [25]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [26]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.86it/s]

In [27]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

13

In [28]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 13/13 [00:00<00:00, 56.04it/s]
100%|██████████| 13/13 [00:00<00:00, 62.51it/s]
100%|██████████| 13/13 [00:00<00:00, 60.19it/s]
100%|██████████| 13/13 [00:00<00:00, 50.79it/s]
100%|██████████| 13/13 [00:00<00:00, 60.19it/s]
100%|██████████| 13/13 [00:00<00:00, 56.04it/s]
100%|██████████| 13/13 [00:00<00:00, 58.04it/s]
100%|██████████| 13/13 [00:00<00:00, 56.04it/s]

In [29]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 13/13 [00:00<?, ?it/s]

In [30]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(13, 13, 13, 13, 13, 13, 13, 13, 13, 13)

In [31]:
Flight25=pd.DataFrame()
Flight25["Airline"]=Airlines
Flight25["Aeroplane"] =Aeroplane
Flight25["Date"]=Date
Flight25["Departure_Time"]=Dept_time
Flight25["Arrival_Time"]=Arrival_time
Flight25["Source"]=Source
Flight25["Destination"]=Destination
Flight25["Stops"]=Stops
Flight25["Duration"]=Duration
Flight25["Price"]=Price
Flight25.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Mon, 4 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Mon, 4 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
2,Vistara Premium Economy,UK-927,"Mon, 4 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086
3,Vistara Premium Economy,UK-993,"Mon, 4 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,11086
4,Vistara Premium Economy,UK-933,"Mon, 4 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,11086

In [32]:
Flight25.to_csv('Flight_Price_dataset_25.csv')

- **Opening Business flights from New Dehli to Bombay on 4th July 2022**

In [33]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=04%2F07%2F2022&hb=0&noOfSegments=1&non_stop=1&origin=DEL&originCountry=IN&type=O&unique=65128472978&version=1.1&viewName=normal'

In [34]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [35]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:18<00:00,  2.72it/s]

In [36]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

23

In [37]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 23/23 [00:00<00:00, 42.70it/s]
100%|██████████| 23/23 [00:00<00:00, 39.01it/s]
100%|██████████| 23/23 [00:00<00:00, 48.25it/s]
100%|██████████| 23/23 [00:00<00:00, 52.42it/s]
100%|██████████| 23/23 [00:00<00:00, 37.00it/s]
100%|██████████| 23/23 [00:00<00:00, 45.21it/s]
100%|██████████| 23/23 [00:00<00:00, 45.57it/s]
100%|██████████| 23/23 [00:00<00:00, 44.95it/s]

In [38]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 23/23 [00:00<00:00, 23056.64it/s]

In [39]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(23, 23, 23, 23, 23, 23, 23, 23, 23, 23)

In [40]:
Flight26=pd.DataFrame()
Flight26["Airline"]=Airlines
Flight26["Aeroplane"] =Aeroplane
Flight26["Date"]=Date
Flight26["Departure_Time"]=Dept_time
Flight26["Arrival_Time"]=Arrival_time
Flight26["Source"]=Source
Flight26["Destination"]=Destination
Flight26["Stops"]=Stops
Flight26["Duration"]=Duration
Flight26["Price"]=Price
Flight26.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Mon, 4 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Vistara Business,UK-927,"Mon, 4 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,22152
2,Vistara Business,UK-951,"Mon, 4 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-933,"Mon, 4 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-985,"Mon, 4 Jul 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [41]:
Flight26.to_csv('Flight_Price_dataset_26.csv')

- **Opening Business flights from New Dehli to Bombay on 4th July 2022**

In [14]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=246008319670&version=1.1&viewName=normal'

In [15]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  3.02it/s]

In [16]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [18]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

69

In [19]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 69/69 [00:01<00:00, 44.00it/s]
100%|██████████| 69/69 [00:01<00:00, 43.53it/s]
100%|██████████| 69/69 [00:01<00:00, 49.46it/s]
100%|██████████| 69/69 [00:01<00:00, 50.58it/s]
100%|██████████| 69/69 [00:01<00:00, 61.70it/s]
100%|██████████| 69/69 [00:01<00:00, 59.78it/s]
100%|██████████| 69/69 [00:01<00:00, 58.12it/s]
100%|██████████| 69/69 [00:01<00:00, 49.39it/s]

In [20]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 69/69 [00:00<?, ?it/s]

In [21]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(69, 69, 69, 69, 69, 69, 69, 69, 69, 69)

In [22]:
Flight28=pd.DataFrame()
Flight28["Airline"]=Airlines
Flight28["Aeroplane"] =Aeroplane
Flight28["Date"]=Date
Flight28["Departure_Time"]=Dept_time
Flight28["Arrival_Time"]=Arrival_time
Flight28["Source"]=Source
Flight28["Destination"]=Destination
Flight28["Stops"]=Stops
Flight28["Duration"]=Duration
Flight28["Price"]=Price
Flight28.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-975,"Tue, 5 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Air India Business,AI-665,"Tue, 5 Jul 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,22152
2,Vistara Business,UK-993,"Tue, 5 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-951,"Tue, 5 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Air India Business,AI-805,"Tue, 5 Jul 2022",20:00,22:10,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [23]:
Flight28.to_csv('Flight_Price_dataset_27.csv')

In [24]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=27877400111&version=1.1&viewName=normal'

In [25]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [26]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.78it/s]

In [27]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [28]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 43.25it/s]
100%|██████████| 60/60 [00:01<00:00, 50.75it/s]
100%|██████████| 60/60 [00:01<00:00, 39.73it/s]
100%|██████████| 60/60 [00:01<00:00, 49.05it/s]
100%|██████████| 60/60 [00:01<00:00, 52.30it/s]
100%|██████████| 60/60 [00:01<00:00, 53.99it/s]
100%|██████████| 60/60 [00:01<00:00, 59.44it/s]
100%|██████████| 60/60 [00:01<00:00, 54.83it/s]

In [29]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [30]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [31]:
Flight29=pd.DataFrame()
Flight29["Airline"]=Airlines
Flight29["Aeroplane"] =Aeroplane
Flight29["Date"]=Date
Flight29["Departure_Time"]=Dept_time
Flight29["Arrival_Time"]=Arrival_time
Flight29["Source"]=Source
Flight29["Destination"]=Destination
Flight29["Stops"]=Stops
Flight29["Duration"]=Duration
Flight29["Price"]=Price
Flight29.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Tue, 5 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Tue, 5 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
2,Vistara Premium Economy,UK-929/918,"Tue, 5 Jul 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
3,Vistara Premium Economy,UK-929/956,"Tue, 5 Jul 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336
4,Vistara Premium Economy,UK-927,"Tue, 5 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086

In [32]:
Flight29.to_csv('Flight_Price_dataset_29.csv')

In [34]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=27%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1600668706419&version=1.1&viewName=normal'

In [35]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [36]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.92it/s]

In [37]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [38]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 52.66it/s]
100%|██████████| 60/60 [00:01<00:00, 52.34it/s]
100%|██████████| 60/60 [00:01<00:00, 33.06it/s]
100%|██████████| 60/60 [00:01<00:00, 47.12it/s]
100%|██████████| 60/60 [00:01<00:00, 50.66it/s]
100%|██████████| 60/60 [00:01<00:00, 52.62it/s]
100%|██████████| 60/60 [00:01<00:00, 58.74it/s]
100%|██████████| 60/60 [00:01<00:00, 54.88it/s]

In [39]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [40]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [41]:
Flight30=pd.DataFrame()
Flight30["Airline"]=Airlines
Flight30["Aeroplane"] =Aeroplane
Flight30["Date"]=Date
Flight30["Departure_Time"]=Dept_time
Flight30["Arrival_Time"]=Arrival_time
Flight30["Source"]=Source
Flight30["Destination"]=Destination
Flight30["Stops"]=Stops
Flight30["Duration"]=Duration
Flight30["Price"]=Price
Flight30.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-929/918,"Mon, 27 Jun 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
1,Vistara Premium Economy,UK-929/936,"Mon, 27 Jun 2022",21:20,09:40\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 20m,10336
2,Vistara Premium Economy,UK-929/956,"Mon, 27 Jun 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336
3,Vistara Premium Economy,UK-927,"Mon, 27 Jun 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086
4,Vistara Premium Economy,UK-933,"Mon, 27 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,11086

In [43]:
Flight30.to_csv('Flight_Price_dataset_30.csv')

- **Opening Premium Economy flights from New Dehli to Bombay on 26th June 2022**

In [54]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=26%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=176295879651&version=1.1&viewName=normal'

In [55]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [56]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  2.98it/s]

In [57]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [58]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 54.19it/s]
100%|██████████| 60/60 [00:01<00:00, 51.89it/s]
100%|██████████| 60/60 [00:01<00:00, 50.45it/s]
100%|██████████| 60/60 [00:01<00:00, 53.70it/s]
100%|██████████| 60/60 [00:01<00:00, 51.36it/s]
100%|██████████| 60/60 [00:01<00:00, 52.25it/s]
100%|██████████| 60/60 [00:01<00:00, 55.03it/s]
100%|██████████| 60/60 [00:01<00:00, 51.31it/s]

In [59]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [60]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [61]:
Flight31=pd.DataFrame()
Flight31["Airline"]=Airlines
Flight31["Aeroplane"] =Aeroplane
Flight31["Date"]=Date
Flight31["Departure_Time"]=Dept_time
Flight31["Arrival_Time"]=Arrival_time
Flight31["Source"]=Source
Flight31["Destination"]=Destination
Flight31["Stops"]=Stops
Flight31["Duration"]=Duration
Flight31["Price"]=Price
Flight31.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-959/956,"Sun, 26 Jun 2022",06:30,23:05,New Delhi,Mumbai,1 Stop,16h 35m,10336
1,Vistara Premium Economy,UK-959/918,"Sun, 26 Jun 2022",06:30,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,23h 45m,10336
2,Vistara Premium Economy,UK-933,"Sun, 26 Jun 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,11086
3,Vistara Premium Economy,UK-941,"Sun, 26 Jun 2022",16:55,19:05,New Delhi,Mumbai,Non Stop,2h 10m,11086
4,Vistara Premium Economy,UK-943,"Sun, 26 Jun 2022",07:30,09:45,New Delhi,Mumbai,Non Stop,2h 15m,11086

In [62]:
Flight31.to_csv('Flight_Price_dataset_31.csv')

## Premium Economy flights from Delhi to Mumbai for 28th June 2022

In [63]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=28%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1294836542502&version=1.1&viewName=normal'

In [64]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [65]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.86it/s]

In [66]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [67]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:00<00:00, 60.95it/s]
100%|██████████| 60/60 [00:01<00:00, 54.83it/s]
100%|██████████| 60/60 [00:01<00:00, 34.62it/s]
100%|██████████| 60/60 [00:01<00:00, 37.38it/s]
100%|██████████| 60/60 [00:01<00:00, 53.84it/s]
100%|██████████| 60/60 [00:00<00:00, 60.10it/s]
100%|██████████| 60/60 [00:01<00:00, 59.68it/s]
100%|██████████| 60/60 [00:01<00:00, 56.53it/s]

In [68]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [69]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [70]:
Flight32=pd.DataFrame()
Flight32["Airline"]=Airlines
Flight32["Aeroplane"] =Aeroplane
Flight32["Date"]=Date
Flight32["Departure_Time"]=Dept_time
Flight32["Arrival_Time"]=Arrival_time
Flight32["Source"]=Source
Flight32["Destination"]=Destination
Flight32["Stops"]=Stops
Flight32["Duration"]=Duration
Flight32["Price"]=Price
Flight32.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Tue, 28 Jun 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-929/918,"Tue, 28 Jun 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
2,Vistara Premium Economy,UK-929/936,"Tue, 28 Jun 2022",21:20,09:40\n+ 1 day,New Delhi,Mumbai,1 Stop,12h 20m,10336
3,Vistara Premium Economy,UK-959/956,"Tue, 28 Jun 2022",06:30,23:05,New Delhi,Mumbai,1 Stop,16h 35m,10336
4,Vistara Premium Economy,UK-959/918,"Tue, 28 Jun 2022",06:30,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,23h 45m,10336

In [71]:
Flight32.to_csv('Flight_Price_dataset_32.csv')

#### Premium Economy flights from delhi Mumbai for 5th July 2022

In [72]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=870975956989&version=1.1&viewName=normal'

In [73]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [74]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:16<00:00,  3.00it/s]

In [75]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

60

In [76]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 60/60 [00:01<00:00, 51.58it/s]
100%|██████████| 60/60 [00:01<00:00, 37.36it/s]
100%|██████████| 60/60 [00:01<00:00, 45.14it/s]
100%|██████████| 60/60 [00:01<00:00, 51.71it/s]
100%|██████████| 60/60 [00:01<00:00, 54.83it/s]
100%|██████████| 60/60 [00:01<00:00, 57.62it/s]
100%|██████████| 60/60 [00:01<00:00, 55.80it/s]
100%|██████████| 60/60 [00:01<00:00, 48.50it/s]

In [77]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 60/60 [00:00<?, ?it/s]

In [78]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(60, 60, 60, 60, 60, 60, 60, 60, 60, 60)

In [79]:
Flight33=pd.DataFrame()
Flight33["Airline"]=Airlines
Flight33["Aeroplane"] =Aeroplane
Flight33["Date"]=Date
Flight33["Departure_Time"]=Dept_time
Flight33["Arrival_Time"]=Arrival_time
Flight33["Source"]=Source
Flight33["Destination"]=Destination
Flight33["Stops"]=Stops
Flight33["Duration"]=Duration
Flight33["Price"]=Price
Flight33.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Premium Economy,UK-975,"Tue, 5 Jul 2022",05:55,07:55,New Delhi,Mumbai,Non Stop,2h 00m,10190
1,Vistara Premium Economy,UK-981,"Tue, 5 Jul 2022",21:30,23:40,New Delhi,Mumbai,Non Stop,2h 10m,10190
2,Vistara Premium Economy,UK-929/918,"Tue, 5 Jul 2022",21:20,06:15\n+ 1 day,New Delhi,Mumbai,1 Stop,8h 55m,10336
3,Vistara Premium Economy,UK-929/956,"Tue, 5 Jul 2022",21:20,23:05\n+ 1 day,New Delhi,Mumbai,1 Stop,25h 45m,10336
4,Vistara Premium Economy,UK-927,"Tue, 5 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,11086

In [80]:
Flight33.to_csv('Flight_Price_dataset_33.csv')

- **Opening Economy flights from New Dehli to Bombay on 30th June 2022**

In [81]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=30%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=372366092677&version=1.1&viewName=normal'

In [82]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [83]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.92it/s]

In [84]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

163

In [85]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 163/163 [00:03<00:00, 42.67it/s]
100%|██████████| 163/163 [00:02<00:00, 58.25it/s]
100%|██████████| 163/163 [00:02<00:00, 58.19it/s]
100%|██████████| 163/163 [00:03<00:00, 48.34it/s]
100%|██████████| 163/163 [00:03<00:00, 44.39it/s]
100%|██████████| 163/163 [00:03<00:00, 49.47it/s]
100%|██████████| 163/163 [00:02<00:00, 58.82it/s]
100%|██████████| 163/163 [00:03<00:00, 51.32it/s]

In [86]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 163/163 [00:00<?, ?it/s]

In [87]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(163, 163, 163, 163, 163, 163, 163, 163, 163, 163)

In [88]:
Flight34=pd.DataFrame()
Flight34["Airline"]=Airlines
Flight34["Aeroplane"] =Aeroplane
Flight34["Date"]=Date
Flight34["Departure_Time"]=Dept_time
Flight34["Arrival_Time"]=Arrival_time
Flight34["Source"]=Source
Flight34["Destination"]=Destination
Flight34["Stops"]=Stops
Flight34["Duration"]=Duration
Flight34["Price"]=Price
Flight34.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Go First,G8-2501,"Thu, 30 Jun 2022",02:40,04:50,New Delhi,Mumbai,Non Stop,2h 10m,8576
1,Go First,G8-336,"Thu, 30 Jun 2022",14:00,16:10,New Delhi,Mumbai,Non Stop,2h 10m,8576
2,Go First,G8-346,"Thu, 30 Jun 2022",18:30,20:40,New Delhi,Mumbai,Non Stop,2h 10m,8576
3,Go First,G8-334,"Thu, 30 Jun 2022",07:00,09:15,New Delhi,Mumbai,Non Stop,2h 15m,8576
4,Go First,G8-338,"Thu, 30 Jun 2022",10:55,13:10,New Delhi,Mumbai,Non Stop,2h 15m,8576

In [89]:
Flight34.to_csv('Flight_Price_dataset_34.csv')

## Opening Economy flights from Delhi to Mumbai for 5th July 2022

In [90]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=963266628001&version=1.1&viewName=normal'

In [91]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [92]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:17<00:00,  2.91it/s]

In [93]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

174

In [94]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 174/174 [00:04<00:00, 42.95it/s]
100%|██████████| 174/174 [00:03<00:00, 48.51it/s]
100%|██████████| 174/174 [00:03<00:00, 52.00it/s]
100%|██████████| 174/174 [00:03<00:00, 54.24it/s]
100%|██████████| 174/174 [00:03<00:00, 52.00it/s]
100%|██████████| 174/174 [00:03<00:00, 48.73it/s]
100%|██████████| 174/174 [00:03<00:00, 46.87it/s]
100%|██████████| 174/174 [00:03<00:00, 46.87it/s]

In [95]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 174/174 [00:00<00:00, 174178.73it/s]

In [97]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(174, 174, 174, 174, 174, 174, 174, 174, 174, 174)

In [99]:
Flight35=pd.DataFrame()
Flight35["Airline"]=Airlines
Flight35["Aeroplane"] =Aeroplane
Flight35["Date"]=Date
Flight35["Departure_Time"]=Dept_time
Flight35["Arrival_Time"]=Arrival_time
Flight35["Source"]=Source
Flight35["Destination"]=Destination
Flight35["Stops"]=Stops
Flight35["Duration"]=Duration
Flight35["Price"]=Price
Flight35.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Go First,G8-334,"Tue, 5 Jul 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,8576
1,Go First,G8-323,"Tue, 5 Jul 2022",18:20,20:35,New Delhi,Mumbai,Non Stop,2h 15m,8576
2,Go First,G8-346,"Tue, 5 Jul 2022",19:45,22:00,New Delhi,Mumbai,Non Stop,2h 15m,8576
3,Go First,G8-354,"Tue, 5 Jul 2022",22:45,01:00\n+ 1 day,New Delhi,Mumbai,Non Stop,2h 15m,8576
4,Go First,G8-330,"Tue, 5 Jul 2022",20:50,23:20,New Delhi,Mumbai,Non Stop,2h 30m,8576

In [100]:
Flight35.to_csv('Flight_Price_dataset_35.csv')

#### Opening Business Class flights from delhi Mumbai for 3rd July 2022

In [101]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=03%2F07%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1172847881267&version=1.1&viewName=normal'

In [102]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [103]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:18<00:00,  2.73it/s]

In [104]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

71

In [105]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 71/71 [00:01<00:00, 60.51it/s]
100%|██████████| 71/71 [00:01<00:00, 54.27it/s]
100%|██████████| 71/71 [00:01<00:00, 50.46it/s]
100%|██████████| 71/71 [00:01<00:00, 41.26it/s]
100%|██████████| 71/71 [00:01<00:00, 48.76it/s]
100%|██████████| 71/71 [00:01<00:00, 53.58it/s]
100%|██████████| 71/71 [00:01<00:00, 58.47it/s]
100%|██████████| 71/71 [00:01<00:00, 55.46it/s]

In [106]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 71/71 [00:00<00:00, 71089.90it/s]

In [107]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(71, 71, 71, 71, 71, 71, 71, 71, 71, 71)

In [108]:
Flight36=pd.DataFrame()
Flight36["Airline"]=Airlines
Flight36["Aeroplane"] =Aeroplane
Flight36["Date"]=Date
Flight36["Departure_Time"]=Dept_time
Flight36["Arrival_Time"]=Arrival_time
Flight36["Source"]=Source
Flight36["Destination"]=Destination
Flight36["Stops"]=Stops
Flight36["Duration"]=Duration
Flight36["Price"]=Price
Flight36.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-927,"Sun, 3 Jul 2022",09:30,11:35,New Delhi,Mumbai,Non Stop,2h 05m,22152
1,Vistara Business,UK-993,"Sun, 3 Jul 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
2,Vistara Business,UK-951,"Sun, 3 Jul 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-933,"Sun, 3 Jul 2022",15:30,17:40,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-985,"Sun, 3 Jul 2022",19:45,21:55,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [109]:
Flight36.to_csv('Flight_Price_dataset_36.csv')

#### Opening Business Class flights from delhi Mumbai for 29th June 2022

In [110]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=29%2F06%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1248526306902&version=1.1&viewName=normal'

In [111]:
Airlines = []
Aeroplane = []
Dept_time = []
Arrival_time = []
Source = []
Destination = []
Duration = []
Stops = []
Date = []
Price = []

In [112]:
from tqdm import tqdm
for _ in tqdm (range(0,50)):
    time.sleep(0.1)
    driver.execute_script("window.scrollBy(0,2000)","")
    time.sleep(0.2)
    driver.execute_script("window.scrollBy(0,-500)","")

100%|██████████| 50/50 [00:19<00:00,  2.59it/s]

In [113]:
flights=driver.find_elements_by_xpath('//div[@class="flight-det table full-width clearfix"]')
len(flights)

68

In [114]:
# Extracting Airlines Name Via Xpath
airlines = driver.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span")
for i in airlines:
    Airlines.append(i.text.replace("\n"," "))
else :
    pass

# Extracting Aeroplane model  via xpath
aeroplanes = driver.find_elements_by_xpath('//p[@class="normal fs-11 font-lightestgrey no-wrap fl-no"]/span')
for i in tqdm(aeroplanes):
    Aeroplane.append(i.text) 
else:
    pass

# Extracting Departure Time of Filght via Xpath
dept_times = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in tqdm(dept_times):
    Dept_time.append(i.text)
else :
    pass

# Extracting Arrival Time via xpath
arrival = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for i in tqdm(arrival):
    Arrival_time.append(i.text)
else :
    pass

# Extracting Source of flight via Xpath
source = driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
for i in tqdm(source):
    Source.append(i.text)
else :
    pass

# Extracting Destination of Flights via Xpath
destination = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in tqdm(destination):
    Destination.append(i.text)
else:
    pass

# Extracting Duration of Flights via Xpath
duration = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]/p')
for i in tqdm(duration):
    Duration.append(i.text)
else:
    pass

# Extracting stop details via Xpath
stop = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/div/span")
for i in tqdm(stop):
    Stops.append(i.text)
else:
    pass

# Extracting Price of Flights via Xpath
count = 0
price = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in tqdm(price):
    Price.append(i.text.replace(',',''))
    count = count +1
else:
    count = count +1
    pass

100%|██████████| 68/68 [00:01<00:00, 54.83it/s]
100%|██████████| 68/68 [00:01<00:00, 40.24it/s]
100%|██████████| 68/68 [00:01<00:00, 44.85it/s]
100%|██████████| 68/68 [00:01<00:00, 40.70it/s]
100%|██████████| 68/68 [00:01<00:00, 51.24it/s]
100%|██████████| 68/68 [00:01<00:00, 57.76it/s]
100%|██████████| 68/68 [00:01<00:00, 60.64it/s]
100%|██████████| 68/68 [00:01<00:00, 50.78it/s]

In [115]:
# Clicking on Flights details element
Button = driver.find_elements_by_xpath('//div[@class="link-color fs-12 cursor-pointer"]/span')
driver.execute_script("arguments[0].click();", WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="link-color fs-12 cursor-pointer"]/span'))))
time.sleep(0.25)

# Extracting Date of Flights via Xpath
date = driver.find_element_by_xpath('//div[@class="bold fs-12 mb-5"]')
a = date.text
for i in tqdm(range(count-1)):
    Date.append(a)
else:
    pass

100%|██████████| 68/68 [00:00<00:00, 68086.10it/s]

In [116]:
len(Aeroplane), len(Airlines), len(Dept_time), len(Arrival_time), len(Source), len(Destination), len(Duration), len(Stops),len(Price), len(Date)

(68, 68, 68, 68, 68, 68, 68, 68, 68, 68)

In [117]:
Flight37=pd.DataFrame()
Flight37["Airline"]=Airlines
Flight37["Aeroplane"] =Aeroplane
Flight37["Date"]=Date
Flight37["Departure_Time"]=Dept_time
Flight37["Arrival_Time"]=Arrival_time
Flight37["Source"]=Source
Flight37["Destination"]=Destination
Flight37["Stops"]=Stops
Flight37["Duration"]=Duration
Flight37["Price"]=Price
Flight37.head()

,Airline,Aeroplane,Date,Departure_Time,Arrival_Time,Source,Destination,Stops,Duration,Price
0,Vistara Business,UK-981,"Wed, 29 Jun 2022",21:30,23:30,New Delhi,Mumbai,Non Stop,2h 00m,22152
1,Air India Business,AI-887,"Wed, 29 Jun 2022",07:00,09:05,New Delhi,Mumbai,Non Stop,2h 05m,22152
2,Air India Business,AI-665,"Wed, 29 Jun 2022",08:00,10:10,New Delhi,Mumbai,Non Stop,2h 10m,22152
3,Vistara Business,UK-993,"Wed, 29 Jun 2022",12:50,15:00,New Delhi,Mumbai,Non Stop,2h 10m,22152
4,Vistara Business,UK-951,"Wed, 29 Jun 2022",14:20,16:30,New Delhi,Mumbai,Non Stop,2h 10m,22152

In [118]:
Flight37.to_csv('Flight_Price_dataset_37.csv')

## Merging all CSV File into one file

In [121]:
import pandas as pd
import glob
import os

# setting the path for joining multiple files
files = os.path.join("C:\\Users\DataLab\FlipRobo Project\Flight price Prrediction\Flight_Price_dataset_*")

# list of merged files returned
files = glob.glob(files)

print("Flight CSV after joining all CSV files at a particular location...");

# joining files with concat and read_csv
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(df)

Flight CSV after joining all CSV files at a particular location...
      Unnamed: 0                  Airline   Aeroplane              Date  \
0              0                  Vistara      UK-981  Tue, 21 Jun 2022
1              1                  Vistara      UK-993  Tue, 21 Jun 2022
2              2                  Vistara      UK-951  Tue, 21 Jun 2022
3              3                  Vistara      UK-933  Tue, 21 Jun 2022
4              4                  Vistara      UK-985  Tue, 21 Jun 2022
...          ...                      ...         ...               ...
2666          55  Vistara Premium Economy  UK-811/854  Wed, 29 Jun 2022
2667          56  Vistara Premium Economy  UK-801/866  Wed, 29 Jun 2022
2668          57  Vistara Premium Economy  UK-859/876  Wed, 29 Jun 2022
2669          58  Vistara Premium Economy  UK-829/876  Wed, 29 Jun 2022
2670          59  Vistara Premium Economy  UK-643/648  Wed, 29 Jun 2022

     Departure_Time Arrival_Time     Source Destination     Stops Duration  \
0             21:30        23:30  New Delhi      Mumbai  Non Stop   2h 00m
1             12:50        15:00  New Delhi      Mumbai  Non Stop   2h 10m
2             14:20        16:30  New Delhi      Mumbai  Non Stop   2h 10m
3             15:30        17:40  New Delhi      Mumbai  Non Stop   2h 10m
4             19:45        21:55  New Delhi      Mumbai  Non Stop   2h 10m
...             ...          ...        ...         ...       ...      ...
2666          06:15        20:15  New Delhi      Mumbai    1 Stop  14h 00m
2667          09:05        23:25  New Delhi      Mumbai    1 Stop  14h 20m
2668          10:25        23:00  New Delhi      Mumbai    1 Stop  12h 35m
2669          07:20        23:00  New Delhi      Mumbai    1 Stop  15h 40m
2670          14:10        19:00  New Delhi      Mumbai    1 Stop   4h 50m

      Price
0      8578
1      8578
2      8578
3      8578
4      8578
...     ...
2666  18590
2667  18590
2668  19318
2669  19318
2670  27326

[2671 rows x 11 columns]

## saving extracted details into CSV file

In [122]:
df.to_csv('Flight_dataset_Price.csv')

In [124]:
df.shape

(2671, 11)

## Summary of Webscrapping

- Here we have scarp the flight dataset from Yatra.com website using webdriver tool of selenium.
- Here from 21st June 2022 to 5th July 2022 from Economy Class , Premium  Economy Class  and Business class
- Almost 2671 records are collected for 11 No. of Features